<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Configuraciones</h4>
        <p class="card-description">Aqui puedes configurar algunos parámetros básicos</p>
        <%= form_with(model: @setup,url: setup_update_path, local: true) do |form| %>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group">

              <div class="form-group">
                <label>Direcciones de correo donde se notificarán las inscripciones: (separados por comas)</label>
                <%= form.text_field :emails_notification_inscription, class: "form-control form-control-lg" %>

              </div>
              <div class="form-group">
                <label>Direcciones de correo donde se notificarán las inscripciones prioritarias: (separados por comas)</label>
                <%= form.text_field :emails_notification_priority, class: "form-control form-control-lg" %>

              </div>
                <div class="form-group">
                  <label>Mensaje formulario de inscripción:</label>
                  <%= form.text_field :message_form_inscription, class: "form-control form-control-lg" %>

                </div>

                <div class="form-group">
                  <label>Mensaje formulario de inscripción (Inglés):</label>
                  <%= form.text_field :message_form_inscription_english, class: "form-control form-control-lg" %>

                </div>


                <div class="">

                  <label class="form-check-label">
                    <%= form.check_box :active_form_inscription  %>
                    Mostrar mensaje en el formulario de inscripción
                  </label>
                </div>
                <div class="pt-4">
                <button type="submit" class="btn btn-success mr-2">Enviar</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="form-group">
                <label>Direcciones de correo donde se notificarán las dudas: (separados por comas)</label>
                <%= form.text_field :emails_notification_contact, class: "form-control form-control-lg"  %>

              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>