<p id="notice"><%= notice %></p>

<h1>Setups</h1>

<table>
  <thead>
    <tr>
      <th>Active form inscription</th>
      <th>Emails notification contact</th>
      <th>Emails notification inscription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @setups.each do |setup| %>
      <tr>
        <td><%= setup.active_form_inscription %></td>
        <td><%= setup.emails_notification_contact %></td>
        <td><%= setup.emails_notification_inscription %></td>
        <td><%= link_to 'Show', setup %></td>
        <td><%= link_to 'Edit', edit_setup_path(setup) %></td>
        <td><%= link_to 'Destroy', setup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setup', new_setup_path %>
