<p id="notice"><%= notice %></p>

<p>
  <strong>Active form inscription:</strong>
  <%= @setup.active_form_inscription %>
</p>

<p>
  <strong>Emails notification contact:</strong>
  <%= @setup.emails_notification_contact %>
</p>

<p>
  <strong>Emails notification inscription:</strong>
  <%= @setup.emails_notification_inscription %>
</p>

<%= link_to 'Edit', edit_setup_path(@setup) %> |
<%= link_to 'Back', setups_path %>
