<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Editar banner</h3>
      <p class="card-description">
        Ingresa la información que desees modificar
      </p>
      <%= form_with(model: @image, local: true, url: update_home_images_path(@image)) do |form| %>
        <% if @image.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@image.errors.count, "error") %> prohibited this banner from being saved:</h2>

            <ul>
            <% @image.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            Banner actual
          </div>
          <div class="col-sm-9">
            <%= image_tag  @image.image.url, class: "img-thumbnail" %>
          </div>
        </div>

        <div class="form-group row" data-toggle="tooltip" title="Dimensiones recomendadas: 1920px x 1080px">
          <%= form.label :image, "Banner", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.file_field :image, class: "form-control", id: "uploader" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :status, "¿Activo?", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9 text-left">
            <%= form.check_box :status, class: "" %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-success mr-2" %> <%= link_to 'Cancelar', home_images_admin_path, class: "btn btn-light"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $("#uploader").fileinput({'showUpload':false, 'previewFileType':'any'});
</script>

