<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <a href="<%= new_home_images_path %>" class="btn btn-outline-success mr-2 btn-sm">Nuevo banner</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row index-admin">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title mb-5">Banners para el home</h1>
        <h4 class="card-title mb-4">Banners activos</h4>
        <div class="table-responsive mb-4">
          <table class="table center-aligned-table">
            <thead>
              <tr>
                <th class="border-bottom-0">Banner</th>
                <th class="border-bottom-0"></th>
              </tr>
            </thead>
            <tbody>
            <% @images_active.each do |image| %>
              <tr>
                <td><%= image_tag image.image.url, class: "img-thumbnail" %></td>
                <td>
                  <a href="<%= edit_home_images_path(image) %>" class="btn btn-outline-success btn-sm mr-2">Editar</a>
                  <%= link_to 'Eliminar', destroy_home_images_path(image),  data: {:confirm => '¿Estás seguro?'}, :method => :delete, class: "btn btn-outline-danger btn-sm mr-2" %>
                  <%= link_to 'Desactivar', change_status_home_images_path(image),  data: {:confirm => '¿Estás seguro?'}, :method => :patch, class: "btn btn-outline-info btn-sm" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

        <h4 class="card-title mb-4">Banners inactivos</h4>
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr>
                <th class="border-bottom-0">Banner</th>
                <th class="border-bottom-0"></th>
              </tr>
            </thead>
            <tbody>
            <% @images_inactive.each do |image| %>
              <tr>
                <td><%= image_tag image.image.url, class: "img-thumbnail"  %></td>
                <td>
                  <a href="<%= edit_home_images_path(image) %>" class="btn btn-outline-success btn-sm mr-2">Editar</a>
                  <%= link_to 'Eliminar', destroy_home_images_path(image),  data: {:confirm => '¿Estás seguro?'}, :method => :delete, class: "btn btn-outline-danger btn-sm mr-2" %>
                  <%= link_to 'Activar', change_status_home_images_path(image),  data: {:confirm => '¿Estás seguro?'}, :method => :patch, class: "btn btn-outline-info btn-sm" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>