<%= form_for @user, url: url, id: 'circular-form', method: method  do |f| %>
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <%= f.text_field :name, placeholder: 'Nombre', class: 'form-control', required: true %>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <%= f.text_field :email, placeholder: 'Email', class: 'form-control', required: true %>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Contraseña</label>
        <%= f.password_field :password, placeholder: 'Contraseña', class: 'form-control', required: required_pass %>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Confirme Contraseña</label>
        <%= f.password_field :password_confirmation, placeholder: 'Confirme Contraseña', class: 'form-control', required: required_pass %>
    </div>
    <%= f.submit button_text, class: 'btn btn-success mr-2', type: 'submit' %>
    <%= submit_tag("Limpiar", { :name => 'reset', :id => 'reset_button', :type => "reset", :class => 'btn btn-light' }) %>
<% end %>