<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <%= link_to users_path do %>
                    <button type="button" class="btn btn-back btn-icons btn-rounded btn-light">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                <% end %>
                <%= yield %>
            </div>
        </div>
    </div>
</div>