<%= render :layout => 'layout_form' do %>
    <h4 class="card-title">Editar usuario</h4>
    <%= render "form", circular: @circular, url: update_user_path, method: 'patch', button_text: 'Editar', required_pass: false  %>
<% end %>

