<%= render :layout => 'layout_form' do %>
    <h4 class="card-title">Importar usuarios</h4>
    <p class="text-info">
        Archivo csv separado por comas con cabecera name,email,password,password_confirmation
    </p>
    <%= form_tag import_users_path, multipart: true  do%>
        <div class="form-group">
            <%= file_field_tag :file, id: "inputImport", class: "form-control-file", required: true %>
            <%= submit_tag "Import", class: "btn btn-success mr-2 mt-4"  %>
        </div>
    <% end %>
<% end %>
