<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<div class="row">
    <div class="col-12 col-md-7 col-lg-7 col-xl-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body text-center">
                <div class="d-flex flex-wrap">
                    <%= link_to new_user_path  do%>
                    <button class="btn btn-info m-2 my-md-0">
                        Crear usuario
                    </button>
                    <% end %>
                    <%= link_to show_import_user_path  do%>
                    <button class="btn btn-info m-2 my-md-0">
                        Importar usuarios
                    </button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de usuarios</h4>
                <div class="table-responsive">
                    <table id="table-users" class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th class="text-center">Mostrar</th>
                                <th class="text-center">Editar</th>
                                <th class="text-center">Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if @users.length > 0 %>
                                <% @users.each_with_index do |user, index| %>
                                <tr>
                                    <td><%= indexplus = index + 1 %></td>
                                    <td><%= user.name %></td>
                                    <td><%= user.email %></td>
                                    <td class="text-center">
                                        <%= link_to user do%>
                                            <%= fa_icon "eye" %>
                                        <% end %>
                                    </td>
                                    <td class="text-center">
                                        <%= link_to edit_user_path(user) do%>
                                            <%= fa_icon "edit" %>
                                        <% end %>
                                    </td>
                                    <td class="text-center">
                                        <%= link_to user, :method => :delete, data: { confirm: 'Estas seguro?' } do %>
                                            <%= fa_icon "trash-o" %>
                                        <% end %>
                                    </td>
                                </tr>
                                <% end %>
                            <% else %>
                            <tr>
                                <td colspan="8" class="text-center text-info">
                                    <h3 class="mt-4">
                                        No hay usuarios creados en este momento
                                    </h3>
                                    <%= link_to new_user_path do%>
                                    <button class="btn btn-success">
                                        Crear
                                    </button>
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
    
            </div>
        </div>
    </div>
</div>

<script>
  $(document).ready( function () {
    $('#table-users').DataTable({
      "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      }
    });
  } );
</script>