<%= render :layout => 'layout_form' do %>
    <h4 class="card-title">Nuevo usuario</h4>
    <%= render "form", user: @user, url: users_create_path, method: 'post', button_text: 'Crear', required_pass: true %>
<% end %>

