<%= render partial: "navbar" %>

<div class="main-container forgot-password-wrapper recover-password pt180">
  <div class="container">
    <div class="row text-center">
      <div class="title-recover">
        <%= t('recover_password.title') %>
      </div>
      <div class="subtitle-recover pt16 pb56">
        <%= t('recover_password.content').html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.label :password, t('recover_password.new_password') %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length.to_s + " " + t('recover_password.characters_minimum') %>)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, t('recover_password.confirm_password') %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions pt56 pb32">
            <%= f.submit t('recover_password.change_password') %>
          </div>
        <% end %>
      </div>
    </div>
    <%#= render "devise/shared/links" %>
  </div>

  <%= render partial:  "footer" %>
</div>
