<%= render partial: "navbar" %>

<div class="main-container forgot-password-wrapper pt180">
  <div class="container">
    <div class="row text-center">
      <div class="title-recover">
        <%= t('forgot_password.title') %>
      </div>
      <div class="subtitle-recover pt16 pb56">
        <%= t('forgot_password.subtitle').html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email, t('general.login.form.email') %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('forgot_password.placeholder') %>
          </div>

          <div class="actions pt56 pb32">
            <%= f.submit t('forgot_password.btn') %>
          </div>
        <% end %>
      </div>
    </div>
    <%#= render "devise/shared/links" %>
  </div>

  <%= render partial:  "footer" %>
</div>
