<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <%= form.label :date_event, "Fecha", class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_field :date_event, type: "date", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :description, "Descripción (Español)", class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_area :description, class: "form-control", placeholder: "Ej: Inicio de clases" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :description_en, "Descripción (Inglés)", class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_area :description_en, class: "form-control", placeholder: "Ej: Inicio de clases" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-success mr-2" %> <%= link_to 'Cancelar', schedules_admin_path, class: "btn btn-light"%>
  </div>
<% end %>