<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Editar evento</h3>
      <p class="card-description">
        Ingresa la información que desees modificar
      </p>
      <%= render 'form', schedule: @schedule %>
    </div>
  </div>
</div>

