<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <a href="<%= new_schedule_path %>" class="btn btn-outline-success btn-sm">Nuevo evento</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title mb-5">Eventos del cronograma</h5>
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr>
                <th class="border-bottom-0">Fecha</th>
                <th class="border-bottom-0">Descripción</th>
                <th class="border-bottom-0"></th>
              </tr>
            </thead>
            <tbody>
            <% @schedules.each do |event| %>
              <tr>
                <td><%= event.date_event %></td>
                <td><%= event.description %></td>
                <td>
                  <a href="<%= edit_schedule_path(event) %>" class="btn btn-outline-success btn-sm mr-2">Editar</a>
                  <%= link_to 'Eliminar', event,  data: {:confirm => '¿Estás seguro?'}, :method => :delete, class: "btn btn-outline-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>