<%= render partial: 'application/navbar' %>
<section id="our-graduates" class="">
  <div class="title-container">
    <div class="row">
      <div class="col">
        <div class="title-section text-center">
          <h2><%= t("schedule.title") %></h2>
        </div>
      </div>
    </div>
  </div>

</section>
<section id="schedule">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% (1..12).each do |int_month| %>
      <div class="item <%= "active" if is_actual_month(int_month) %>">
        <div class="container">
          <div class="container pb-xs-32">
            <div class="row">
              <div class="col">
                <div class="title-section subtitle-section text-center">
                  <h2 class="white-section"><%= l(month_name_year(int_month), :format => '%B %Y')  %></h2>
                  <h6 class="subtitle-sm"><%= t("schedule.know_all_events") %></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-container">
            <% all_days_in_month(int_month).each do |date|%>
              <% event = find_event(date, @events_by_month[int_month]) %>
              <div class="card-event text-center <%= "hidden-xs" if event.nil? %>">
                <div class="header-car-event">
                  <h3 class="title">
                    <%= l(date, :format => '%A %d')  %>
                  </h3>
                </div>
                <div class="desc-card-event">
                  <p class="description">
                    <% unless event.nil? %>
                      <%= schedule_description(event) %>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="ti-angle-left" aria-hidden="true"></span>

    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="ti-angle-right " aria-hidden="true"></span>

    </a>
  </div>


</section>

<script type="text/javascript" charset="utf-8">
    $( document ).ready(function() {
        $('.carousel').carousel({
            pause: true,
            interval: false
        });
    });

</script>

<%= render partial: 'application/footer' %>