<p id="notice"><%= notice %></p>

<p>
  <strong>Date event:</strong>
  <%= @schedule.date_event %>
</p>

<p>
  <strong>Description:</strong>
  <%= @schedule.description %>
</p>

<%= link_to 'Edit', edit_schedule_path("es", @schedule) %> |
<%= link_to 'Back', schedules_admin_path %>
