<% if news.length > 0 %>
    <% news.each do |post| %>
        <div class="row text-center ctn-news">
            <div class="col-xs-10 col-xs-offset-1">
                <p class="news-date">
                    <%= l post.created_at, format: :circulars %>
                </p>
                <img src=<%= post.image %> alt="" class="news-image">
                <% if I18n.locale == :es %>
                    <h3 class="news-title"><%= post.title %></h3>
                <% else %>
                    <h3 class="news-title"><%= post.title_en %></h3>
                <% end %>
                <p class="news-content">
                    <% if I18n.locale == :es %>
                        <%= strip_tags post.content.truncate(900) %>
                    <% else %>
                        <%= strip_tags post.content_en.truncate(900) %>
                    <% end %>
                </p>
                <%= link_to news_show_path(post) do%>
                    <button class="btn">
                        <%= t("news.read") %>
                    </button>
                <% end %>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="row ctn-news">
        <div class="col-xs-10 col-xs-offset-1">
            <h4>
                No se encontraron noticias
            </h4>
        </div>
    </div>
<% end %>
