<%= render partial: 'application/navbar' %>
<% content_for :title,  "#{t 'SEO.news.title'}" %>
<% content_for :description, "#{t "SEO.news.description"}" %>
<section id="our-graduates" class="news">
    <div class="title-container">
        <div class="row">
            <div class="col">
                <div class="title-section text-center">
                    <h1><%= t("news.title") %></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb96 pt96 pb-xs-32">
        <div class="row ctn-news">
            <% if params[:search] || params[:category] %>
            <div class="col-xs-10 col-xs-offset-1 mb32">
                <h3>
                    <% if params[:search] %>
                        Resultados de busqueda para '<%= params[:search] %>'
                    <% end %>
                    <% if params[:category] %>
                        Resultados para la categoria '<%= @category_name %>'
                    <% end %>
                </h3>
            </div>
            <% end %>
        </div>
        <%= render "news_card", news: @news%>
    </div>
</section>
<%= render partial: 'application/footer' %>