<%= render partial: 'application/navbar' %>

<section id="our-graduates" class="news news-show">
    <div class="title-container">
        <div class="row">
            <div class="col">
                <div class="title-section text-center">
                    <h2><%= t("news.title") %></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb96 pt96 pb-xs-32">
        <div class="row ctn-news">
            <div class="col-xs-10 col-xs-offset-1 col-md-2 col-md-offset-1">
                <div class="item-side-bar">
                    <p class="title-side-bar">
                        <%= t("news.search") %>
                    </p>
                    <div class="list-item-side-bar">
                        <%= form_tag news_path, :method => 'get', :id => "products_search" do %>
                        <p>
                            <%= text_field_tag :search, params[:search] %>
                        </p>
                        <div id="results-search"></div>
                        <% end %>


                    </div>
                </div>
                <div class="item-side-bar">
                    <p class="title-side-bar">
                        <%= t("news.categories") %>
                    </p>
                    <div class="list-item-side-bar">
                        <% @categories.each do |category| %>
                            <%= link_to news_path(:category => category) do%>
                                <% if I18n.locale == :es %>
                                    <p><%= category.name %></p>
                                <% else %>
                                    <p><%= category.name_en %></p>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="item-side-bar">
                    <p class="title-side-bar">
                        <%= t("news.recentPosts") %>
                    </p>
                    <div class="list-item-side-bar">

                    <% @recents.each do |recentpost| %>
                        <%= link_to news_show_path(:id => recentpost) do%>
                            <% if I18n.locale == :es %>
                                <div class="recent-post"><p><%= recentpost.title %></p><p class="date"><%= l @post.created_at, format: :short %></p></div>
                            <% else %>
                                <div class="recent-post"><p><%= recentpost.title_en %></p><p class="date"><%= l @post.created_at, format: :short %></p></div>
                            <% end %>
                        <% end %>
                    <% end %>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-7 text-center">
                <img src=<%= @post.image %> alt="" class="news-image">
                <div class="title-post-row">
                    <p>
                        <%= l @post.created_at, format: :short %>
                    </p>
                    <% if I18n.locale == :es %>
                        <h3 class="news-title"><%= @post.title %></h3>
                    <% else %>
                        <h3 class="news-title"><%= @post.title_en %></h3>
                    <% end %>
                </div>
                <p class="author">
                    <%= t('news.by') %> <%= @post.author %>
                </p>
                <div class="news-content">
                    <% if I18n.locale == :es %>
                        <%= @post.content.html_safe %>
                    <% else %>
                        <%= @post.content_en.html_safe %>
                    <% end %>
                </div>
                
            </div>
        </div>
    </div>
</section>
<%= render partial: 'application/footer' %>

<script>
    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    var myEfficientFn = debounce(function() {
        var text = $("#search").val();
        var response = null;
        $("#results-search").html("");
        $("#results-search").removeClass("with-results");
        $("#search").removeClass("with-results");
        $.getJSON("/news/search/" + text).success(function(response) {
            console.log("response",response);
            var results = response.results;
            console.log("results",results);
            if (results) {
                results.forEach(function(result) {
                    console.log("each");
                    $("#results-search").addClass("with-results");
                    $("#search").addClass("with-results");
                    $("#results-search").append('<a href="/news/'+result.slug+'"><div class="recent-post"><p id="title">'+result.title+'</p><p class="date">'+result.created_at+'</p></div></a>');
                });
            }
        });
    }, 350);
    $('#search').on('propertychange input', myEfficientFn);
</script>
