<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Editar evento</h3>
      <p class="card-description">
        Ingresa la información que desees modificar
      </p>
      <%= form_with(model: @category_post, local: true, url: update_category_posts_path(@category_post)) do |form| %>
        <% if @category_post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@category_post.errors.count, "error") %> prohibited this category_post from being saved:</h2>

            <ul>
            <% @category_post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group row">
          <%= form.label :name, "Nombre (Español)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_field :name, class: "form-control", placeholder: "Ej: Inicio de clases" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :name_en, "Nombre (Inglés)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_field :name_en, class: "form-control", placeholder: "Ej: Inicio de clases" %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-success mr-2" %> <%= link_to 'Cancelar', category_posts_admin_path, class: "btn btn-light"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

