<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <a href="<%= new_category_posts_path %>" class="btn btn-outline-success btn-sm">Nueva categoría</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title mb-5">Categorias de Noticias</h5>
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr>
                <th class="border-bottom-0">Nombre</th>
                <th class="border-bottom-0"></th>
              </tr>
            </thead>
            <tbody>
            <% @category_posts.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td>
                  <a href="<%= edit_category_posts_path(category) %>" class="btn btn-outline-success btn-sm mr-2">Editar</a>
                  <%= link_to 'Eliminar', destroy_category_posts_path(category),  data: {:confirm => '¿Estás seguro?'}, :method => :delete, class: "btn btn-outline-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>