.navbar .navbar-brand-wrapper, .navbar {
  background: #1d263e;
}
.navbar .navbar-brand-wrapper .navbar-brand img {
  width: auto;
  height: 100%;
}
.index-admin .img-thumbnail {
  max-width: 300px;
}