/****** PLACE YOUR CUSTOM STYLES HERE ******/

@font-face {
    font-family: 'Bodoni';
    src: url('BodoniStd.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni';
    src: url('BodoniStd-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni';
    src: url('BodoniStd-Book.otf');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Circular';
    src: url('CircularStd-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('CircularStd-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('CircularStd-Book.otf');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Didot';
    src: url('DidotLTStd-Headline.otf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Circular;
}

.bg-light.overlay::before{
    opacity: 0.001;
}
.d-inline-block {
  display: inline-block;
}
.menu > li ul.submenu-diego {
  left: -25px;
  top: 85px;
  background: #f7eab5;
  padding-left: 20px;
  padding-right: 20px;
}
.menu > li ul.submenu-diego:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-bottom-color: #f7eab5;
	border-top: 0;
	margin-left: -11px;
	margin-top: -11px;
}
.menu > li > .submenu-diego li a {
  color: #1e273e;
  padding: 6px 0px;
}
.menu > li > ul.submenu-diego > li:not(:last-child) {
  border-bottom: 1px solid #1e273e;
}
.youtube-popup {
  color: inherit;
}
.youtube-popup:hover {
  color: inherit;
}

div#mp3_player{ width:300px; height: 70px; position: absolute; right: 35px; }
div#mp3_player > div > audio{ float:left; display: none;  }
div#mp3_player > canvas{ width:100%; height:35px; background: transparent; float:left; }
div#mp3_player > canvas.analyser-down { transform: rotateX(180deg); }
.control-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #262b47;
  border: none;
  padding: 1px 4px;
  color: #f7eab5;
  border-radius: 5px;
}
.control-player img {
  max-height: 60px;
}
.nav-audio-control {
  background: transparent;
  border: none;
  color: #f7eab5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all ease-in 0.8s;
}
.nav-audio-control.next {
  right: 30%;
}
.nav-audio-control.previous {
  left: 30%;
}
.nav-audio-control.next.playing {
  right: -15px;
}
.nav-audio-control.previous.playing {
  left: -15px;
}
.audio-info {
  color: #f7eab5;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  background: #262b47;
  padding: 0px 5px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: all ease-in 0.8s;
}
.audio-info.playing {
  transform: none;
  left: 0;
}
div#mp3_player .audio-info span.state, div#mp3_player .audio-info span.audio-name {
  color: inherit;
}

@media (max-width: 576px) {
  div#mp3_player {
    right: 50%;
    transform: translateX(50%);
    bottom: -100px;
  }
  .audio-info.playing {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 340px) {
  div#mp3_player {
    width: 270px;
  }
}

/* buttons */
.btn.beige:hover{
    background-color: #f7eab5;
    color: #1d263e !important;
}

.btn:hover{
    background-color: #1d263e;
    color: #fff !important;
}

.btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #1d263e;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 28px;
    color: #1d263e !important;
}

.btn.beige{
    border: 2px solid #f7eab5;
    color: #f7eab5 !important;
}

.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
}

.carousel-control span{
    position: relative;
    top: 33%;
    color: #000;
    font-size: 4rem;
}


.d-flex{
    display: flex;
    flex-direction: row;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  

.no-padding{
    padding: 0px;
}

.scroll-btn-wrapper .scroll-down {
    font-size: 0px;
    font-size: 0rem;
}

.scroll-btn-wrapper .scroll-down img {
    display: block;
    margin: 0 auto 0px;
    position: relative;
    -webkit-animation-name: scroll-down;
    animation-name: scroll-down;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
@media (max-width: 768px) {
    .scroll-btn-wrapper .scroll-down img {
        max-width: 60px; } }
.scroll-btn-wrapper .scroll-down:hover,
.scroll-btn-wrapper .scroll-down:focus,
.scroll-btn-wrapper .scroll-down:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.83); }

@-webkit-keyframes scroll-down {
    0% {
        top: 130px; }
    50% {
        top: 136px; }
    100% {
        top: 130px; } }

@keyframes scroll-down {
    0% {
        top: 130px; }
    50% {
        top: 136px; }
    100% {
        top: 130px; } }

@media (max-width: 576px) {
    @-webkit-keyframes scroll-down {
        0% {
            top: 0px; }
        50% {
            top: 6px; }
        100% {
            top: 0px; } }

    @keyframes scroll-down {
        0% {
            top: 0px; }
        50% {
            top: 6px; }
        100% {
            top: 0px; } }
}

/*HOME*/

.logo{
    max-height: 65%;
}




.menu li a {
    font-size: 0.94rem;
    color: white;
    opacity: 1;
}
.module{
    padding: 0 20px;
}

.menu li a:hover{
    opacity: 0.5;
}

.menu > li {
    font-family: Circular;
    font-weight: normal;
    font-style: oblique;
    margin-right: 15px;
}
.module.widget-handle {
    padding: 0 10px;
}
.absolute-nav{
    position: absolute;
    top: 1px;
    z-index: 11;
    width: 100%;
    color: white;
}

.language .menu li ul a {
    width: 100%;
}

.container-video-tb {
  position: relative;
}

.container-video-tb .overlay {
  opacity: 0;
  transition: all ease-in-out 0.2s;
}

.container-video-tb:hover .overlay:before {
  background: #1e273e;
  opacity: 0.4;
}

.container-video-tb:hover .overlay {
  opacity: 1;
}

.container-video-tb .info {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-video-tb .name {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -100%);
}

@media (min-width: 557px) and (max-width: 768px) {
    .image-edge .rotate-title {
        margin-top: 2em;
    }
    .container-video-tb .name {
      top: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .image-edge .rotate-title {
        margin-top: 4em;
    }
    .image-edge .ctn-images {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .image-edge .ctn-images img {
        position: static !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {    
    .image-edge .container .rotate-title {
        left: -3em;
    }
    .image-edge .container .rotate-title hr {
        display: none;
    }
    .image-edge .ctn-images {
        left: 61% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .image-edge .container .rotate-title hr {
        display: none;
    }
    .image-edge .container .rotate-title {
        left: 1em;
    }
}

@media all and (min-width: 1500px) {
    .menu li a {
        font-size: 1.2rem;
        color: white;
        opacity: 1;
    }
    .module{
        padding: 0 28px;
    }
    .logo{
        max-height: 85%;
    }
}

@media (max-width: 1300px) {

    .menu li a{
        font-size: 0.79rem;
    }

}
@media (max-width: 990px) {
    .bg-transparent {
        background-color: #000;
    }
    nav{
        background: #000;
    }
    .cover.fullscreen .slides li{
        height: 100vh;
        padding: 0px;
    }
}
@media (max-width: 576px) {

    .menu li a {
        font-size: 0.97rem;
    }

    .logo {
        max-height: 100%;
    }



    .txtimg-inst-1 .img-moved1, .txtimg-inst-1 .img-moved2{
        left: 20px !important;
        bottom: 0px;
        margin-bottom: 30px;
    }

    .rotate-title{
        padding-top: 30px;
    }

    .txtimg-inst-1 .title-didot{
        font-size: 30px;
    }


}

/*BANNER*/

.parallax > .background-image-holder, .parallax .slides li > .background-image-holder{
    height: 111vh;
}

.cover .slides li .container {
    position: absolute;
    width: 100%;
    top: 60%;
}

p.lead{
    font-size: 26px;
    letter-spacing: 1px;
}

.image-bg.bg-light h1, .image-bg.bg-light h2, .image-bg.bg-light h3, .image-bg.bg-light h4, .image-bg.bg-light h5, .image-bg.bg-light h6{
    color: white;
}
.image-bg.bg-light p, .image-bg.bg-light span, .image-bg.bg-light li{
    color: #fff;
}
 /*section 1 home*/

.txtimg-inst-1{
    background-color: #1d263e;

}

.txtimg-inst-1 h2{
    color: #f7eab5;
}
.know_us{font-family: Circular; font-weight: normal; font-style: normal;}

.txtimg-inst-1 .know_us h2{
    font-family: Circular;
    font-size: 24px;
    color: white;
    line-height: 30px;
    font-weight: normal !important;
}

.txtimg-inst-1 .know_us p{
    font-family: Circular;
    font-style: oblique;
    color: white;
    font-size: 17px;
    font-weight: normal !important;
}

.txtimg-inst-1 .img-section{
    max-width: 85%;
}
.txtimg-inst-1 .img-moved1{
    position: relative;
    left: 150px;
    bottom: -35px;
}
.txtimg-inst-1 .img-moved2{
    position: relative;
    left: -9rem;
    bottom: -3rem;
}

.txtimg-inst-1 .title-section{
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 32px;
}

.rotate-title{
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: -1rem;
    bottom: 12rem;
    line-height: 7rem;
}
.rotate-title h2{
    font-size: 6.5rem;

    font-family: Circular;

    line-height: 6rem;

    font-weight: normal;
}
.title-didot{
    font-family: "Didot";
    font-size: 5rem;

}
@media (min-width: 768px){

    nav {
        background: transparent;
    }

    nav.fixed {
        background: #1d263e;
    }
}

@media (min-width: 1053px){
    .nav-bar,.nav-bar a{
        height: 100px;
        max-height: 100px;
    }

    .nav-bar{
        line-height: 100px;
    }

    .nav-bar .module, .nav-bar .module-group {
        height: 100px;
    }
}

.nav-bar.nav-open .widget-handle.mobile-toggle{
    border: none !important;
}


@media (min-width: 768px) and (max-width: 1500px ) {
    .rotate-title {
        left: -1rem;
        bottom: 3rem;
    }
    .txtimg-inst-1 .img-moved1 {
        position: relative;
        left: 120px;
    }
    .txtimg-inst-1 .img-moved2 {
        position: relative;
        left: -1rem;

    }
}

/*Tabs*/

.button-tabs  .tab-title.tab-left{
    border-radius: 22px 0px 0px 22px;
}
.button-tabs .tab-title.tab-right{
    border-radius: 0px 22px 22px 0px;
}
.button-tabs .tab-title{
    border: 1px solid #1d263e;
    padding: 5px 25px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}
@media (max-width: 768px) {
    .youtube-ctn iframe {
        width: 99% !important;
    }
}

@media (max-width: 576px) {
    .button-tabs .tab-title {
        width: 100%;
    }
}

.button-tabs .tab-title span {
    line-height: 18px;
}

.button-tabs .active .tab-title{
    background-color: #1d263e;
}


#tabs-about-us h4{
    font-family: Circular;
    color: #1d263e;
}
#tabs-about-us .tab-content{
    font-family: Circular;
    font-style: oblique;
    font-size: 16px;
    color: #7a7a7a
}

.tab-content p:first-child{
    color: #1d263e;
}

#tabs-about-us .tab-content.info {
    font-family: Circular;
    color: #555555;
}
#tabs-about-us .tab-content.info h3{
    font-family: Circular;
    font-size: 45px;
    line-height: normal;
}

#tabs-about-us .tab-content.info .text-tab{
    padding: 30px;
}

@media (max-width: 576px) {

    .cover .slides li .container {
        position: absolute;
        width: 100%;
        top: 20%;
    }
    .button-tabs .tabs li{
        width: 100%;
    }
    .button-tabs .tab-title.tab-left{
        border-radius: 0;
    }
    .button-tabs .tab-title.tab-right{
        border-radius: 0;
    }

    .mt48{
        margin-top: 0px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-tabs .tabs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;       
    }
}

/*Graduate*/
#graduates{
    background-image: url("home/banner-egresados.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: unset;
}
#graduates .title-section h2{
    color: #f7eab5;
}

#graduates .content p{
    font-family: Circular;
    font-style: oblique;
    font-size: 16px;
    color: white;
    text-align: justify;
}

 .title-section h2, .title-section h1{
    font-family: Circular;
     font-weight: bold;
     text-transform: uppercase;
     font-size: 40px;
}
 .title-section hr{
     width: 80px;
     border-color: #f7eab5;
     border-width: 3px;
 }

 #graduates  .title-section hr{
    width: 80px !important;
    border-width: 3px !important;
    text-align: initial !important;
    margin: 0 0 24px 0 !important;
}

#graduates .btn.btn.beige {
    background-color: transparent;
}

#graduates .btn.btn.beige:hover {
    background-color: #f7eab5 !important;
}

 /*Comunications*/

#comunications .title-section hr{
    text-align: center;
    width: 35rem;
    margin: auto;
}
#comunications .title-section{
    font-family: Circular;
    font-size: 45px;
    font-weight: bold;
    color: #7a7a7a;
}

#comunications .title-section h3{
    font-family: Circular;
    margin-top: 10px;
    font-size: 23px;
    letter-spacing: 2px;
    margin-bottom: 60px;
}
#comunications .card-events {
    background-color: #e9eaec;
    border-radius: 20px;
}
#comunications .card-events img{
    border-radius: 30px 30px 0px 0px;
}


#comunications .card-events .title-comunication{
    margin: 20px 30px;
    border-bottom: 1px solid #1d263e;
    padding-bottom: 10px;
}

#comunications .card-events .title-comunication h2 {
    font-family: Circular;
    font-style: oblique;
    font-size: 19px;
    line-height: normal;
    margin-bottom: 5px;
}
#comunications .card-events .content p{
    margin-bottom: 15px;
}

#comunications .card-events .content a{
    font-size: 13px;
    border: 1px solid #1b253f;
    color: #1b253f;
    padding: 10px 17px;
    border-radius: 30px;
    text-transform: uppercase;

}
#comunications .card-events .content a:hover{
    background-color: #1d263e;
    color: white;
}

#comunications .card-events .content{
    margin: 0 30px;
    padding-bottom: 30px;

}

@media (max-width: 576px) {
    .title-section h2{
        font-size: 32px;
    }
    #comunications .title-section h3{
        font-size: 22px;
    }
    #comunications .card-events{
        margin-bottom: 30px;
    }

    .title-didot{
        font-family: "Didot";
        font-size: 3rem;

    }
}

/**payments*/

#payments{
    background-color: #1d263e;
}
#payments .title-section h4{
    font-size: 24px;
    font-family: Circular;
    color: #f7eab5;
}

#payments .pricing-table.boxed {
    background-color: transparent;
    border: 2px solid #f7eab5;
    color: #fff;
}
#payments .pricing-table p.lead{
    text-transform: uppercase;
    font-family: Circular;

}

#payments .pricing-table.boxed h5{
    color: #fff;
    margin-top: 50px ;
    margin-bottom: 100px;
    font-family: Circular;

}

#payments .btn-filled{
    background-color: transparent;
    border: 1px solid #f7eab5;
    border-radius: 22px;
    color: #f7eab5 !important;

}
#payments .pricing-table.emphasis{
    background-color: #f7eab5;
}

#payments .pricing-table.emphasis p.lead{
    color: #1d263e;
}

#payments .pricing-table.emphasis h5{
    font-family: Circular;
    font-style: oblique;
    color: #1d263e;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*join us*/
#join_us{
    background-image: url("home/unete-banner.jpg");
}

#join_us .card-beige{
    background-color: #f7eab5;
    padding: 40px 30px;
}
#join_us .content p{
    font-size: 17px;
    color: #1d263e;
    font-family: Circular;
}
#join_us .title-section h2{
    margin-bottom: 10px;
}

#join_us .title-section hr{
    border-color: #1d263e;
    margin-bottom: 10px;
}

/*Footer*/

.footer-1 .logo{
    max-height: 100px;
}

.bg-blue{
    background-color: #1d263e;
}

.footer-1 .title{
    color: #fff;
}

.footer-1 a{
    color: #fff;
}

.recent-posts li{
    margin-bottom: 2px;
}

.widget{
    margin-bottom: 30px;
}

.widget .title {
    font-size: 14px;
    letter-spacing: 0px;
}

.widget .recent-posts li a{
    font-size: 16px;
}


/*about us page*/

.page-title .container{
    top: -40%;
}

.page-title .container .title-didot{
    letter-spacing: 0px;
    color: #f7eab5;
}

#tabs-about-us .tab-content p:first-child {
    color: #555555 !important;
}

/*tabs*/

.text-tabs .active .tab-title{
    color: #1d263e;

}
.text-tabs .tab-title span{
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Circular;
}

.text-tabs .tab-title::after {
    background: #1d263e;
}

.title-section hr{
    text-align: center;
    width: 30rem;
    margin: auto;
}
.title-section{
    font-family: Circular;
    font-size: 45px;
    font-weight: bold;
    color: #7a7a7a;
}

.title-section h3{
    font-family: Circular;
    margin-top: 10px;
    font-size: 23px;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

/*our philosophy*/
#philosophy {
    background-color: #f7eab5;
}
#philosophy .title-section.subtitle h2{
    margin-bottom: 10px;
}

#philosophy .title-section.subtitle hr{
    border-color: #1d263e;
    margin-bottom: 10px;
    text-align: left;
    margin: 0px;
    width: 16rem;

}

#philosophy .content h3{
    font-family: Circular;
}
#philosophy .content p{
    font-family: Circular;
    color: #1d263e;
    font-size: 16px;
}

@media (max-width: 576px) {

    #tabs-about-us .tab-content.info h3{
        font-size: 36px;
    }

    .title-section hr{
        width: 30rem;
    }

}

/*list-characteristics*/

.list-characteristics div:before{
    content: url("about_us/indicador.png");
    padding-right: 10px;
}
.list-characteristics p{
    font-family: Circular;
    font-size: 16px;
}

.play_button{
    position: absolute;
    top: 18%;
    right: 40%;
    cursor: pointer;
}

/*symbols*/
#symbols{
    padding-top: 10px;
    padding-bottom: 10px;
}
#symbols .content h3{
    font-family: Circular;
    margin-top: 30px;
    font-size: 24px;
    text-transform: uppercase;
}

#symbols .content p{
    font-family: Circular;
    font-size: 16px;
}

/*our space*/

#our_place{
    padding-bottom: 50px;
}

/*manual*/

#manual{
    background-image: url("about_us/manualdeconvi.jpg");
}

#manual .card-beige{
    background-color: #f7eab5;
    padding: 40px 30px;
}
#manual .content p{
    font-size: 17px;
    color: #1d263e;
    font-family: Circular;
}
#manual .title-section h2{
    margin-bottom: 10px;
}

#manual .title-section hr{
    border-color: #1d263e;
    margin-bottom: 10px;
}

/* contact */
.list-info .item-list-info{
    margin-bottom: 25px;
    margin-left: 3rem;
}
.list-info .item-list-info img{
    width: 100px;
    height: 90px;
}
.list-info p{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-left: 12px;
    font-family: Circular;
    color: #1d263e;
}
.list-info .item-list-info{
    display: flex;
    flex-direction: row;
}

/*contact form*/
#contact-form{
    font-family: Circular;
}

#contact-form .title-section h2{
    margin-bottom: 10px;

}
#contact-form .title-section{
    font-size: 12px;
    color: #1d263e;
    font-family: Circular;
}
#contact-form .title-section p{
    font-size: 14px;
    font-family: Circular;
    color: #7a7a7a;
}
#contact-form .title-section .form-group{
    margin-bottom: 5px;
}
#contact-form .title-section .form-group label{
    font-size: 14px;
    font-family: Circular;
    font-weight: normal;
    color: #1d263e;
    text-transform: uppercase;

}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"]{
    background-color: transparent;
    border: 1px solid #24273c;
    height: 45px;
    border-radius: 22px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: Circular;
    padding-left: 20px;
}
input[type="date"], input[type="email"] {
  width: 100%;
}

#contact-form a{
    color: #1d263e;
    text-decoration: underline;
}
#contact-form .title-section .form-group textarea{
    background-color: transparent;
    border: 1px solid #24273c;
    height: 45px;
    border-radius: 22px;
    margin-bottom: 3px;
}

#contact-form input[type="submit"], #contact-form button[type="submit"] {
    height: 40px;
    line-height: 40px;
    border: 2px solid #292929;
    background: #292929;
    color: #fff;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 20px !important;
    color: #fff !important;
}

#contact-form .google-absolute-icon .button {
    margin-top: 30px;
}
#contact-form .google-absolute-icon .button a{
    background-color: #f2e89d;
    color: #1d263e;
    padding: 15px 70px;
    border-radius: 22px;
    margin-top: 30px;
}

#contact-form .google-absolute-icon {
    position: absolute;
    z-index: 2;
    top: 18rem;
    left: 18rem;
}


@media (max-width: 768px) {
    .list-info{
        margin-top: 15px;
    }
    .list-info .item-list-info img {
        width: 60px;
        height: 60px;
    }
    .list-info .item-list-info p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
        height: 35px;
    }
    #contact-form .title-section h2{
        font-size: 35px;
    }
    #contact-form .title-section p{
        margin-bottom: 5px;
    }
    #contact-form .form-container{
        height: 600px;
    }
    #contact-form .map-container img.back-img{
        height: 600px;
    }

    #contact-form .google-absolute-icon {
        position: absolute;
        z-index: 2;
        top: 11rem;
        left: 11rem;
    }
}

@media (min-width: 768px) and (max-width: 992px)  {
    .list-info .item-list-info img {
        width: 60px;
        height: 60px;
    }
    .ctn-img-contact {
        width: 100%;
        max-height: 400px;
    }
    .image-edge .ctn-img-contact img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }
    #contact-form {
        display: flex;
        flex-direction: column;
    }
    #contact-form .map-container {
        display: flex;
        position: relative;
        left: 0;
        width: 100%;
    }
    #contact-form  .form-container {
        display: flex;
        position: static;
        justify-content: center;
    }

    #contact-form  .form-container>div.col-md-5 {
        position: static;
    }
    #contact-form .google-absolute-icon {
        left: calc(50% - 142px);
        top: calc(50% - 150px) !important;
    }
}

@media (min-width: 992px) and (max-width: 1280px)  {
    #contact-form .mb-xs-24.back-img {
        max-width: initial;
        max-height: 688px;
        object-fit: cover;
    }

}


@media (max-width: 576px) {
    .list-info .item-list-info{
        margin-left: 0px;
    }
    .list-info .item-list-info img {
        width: 7rem;
        height: 7rem;
    }

    #contact-form .google-absolute-icon {
        position: absolute;
        z-index: 444;
        top: 4rem;
        left: 5.3rem;
    }
    #contact-form .google-absolute-icon {
        position: absolute;
        z-index: 444;
        top: 15%;
        left: 15%;
    }
    .list-info .item-list-info p {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

@media (min-width: 593px) and (max-width: 767px) {
    #contact-form .map-container img.back-img {
        height: auto;
    }
    #contact-form .google-absolute-icon {
        left: calc(50% - 142px);
        top: calc(50% - 150px);
    }
}

/*thank you*/
#thankyou_contact {
    background-image: url("contact_us/imde_fondo_agradecimientos.png") !important;
    height: 80vh;
    padding-top: 15rem;
    background-size: 100% auto;
    min-height: 600px;
}

#thankyou_contact h2{
    font-size: 4.5rem;
    color: #f7eab5;
    font-family: Circular;
    line-height: 5rem;
}
#thankyou_contact p{
    font-size: 20px;
    color: #f7eab5;
    font-family: Circular;
}

#thankyou_contact a{
    color: #f7eab5;
    border: 1px solid #f7eab5;
    padding: 10px 105px;
    border-radius: 22px;
    font-size: 18px;
}


@media (max-width: 576px) {
    #thankyou_contact {
        background-image: url("contact_us/fondo.jpg");
        height: auto;
        padding-top: 2rem;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: right;
    }
    #thankyou_contact a {
        color: #f7eab5;
        border: 1px solid #f7eab5;
        padding: 10px 34px;
        border-radius: 22px;
        font-size: 15px;
    }


}/*thank you*/
#thankyou_contact {
    background-image: url("contact_us/fondo.jpg");
    height: 80vh;
    padding-top: 15rem;
    background-size: 100% auto;
}

#thankyou_contact h2{
    font-size: 4.5rem;
    color: #f7eab5;
    font-family: Circular;
    line-height: 5rem;
}
#thankyou_contact p{
    font-size: 20px;
    color: #f7eab5;
    font-family: Circular;
}

#thankyou_contact a{
    color: #f7eab5;
    border: 1px solid #f7eab5;
    padding: 10px 105px;
    border-radius: 22px;
    font-size: 18px;
}

/* login */
#loginModal .modal-content {
  background: #eddb9a;
  border-radius: 0;
}
#loginModal .modal-content .modal-body {
  padding: 15px 60px;
}
#loginModal .modal-header, #loginModal .modal-footer {
  border-color: #eddb9a;
}
#loginModal input[type="submit"], #loginModal button[type="submit"] {
  height: 40px;
  line-height: 40px;
  border: 2px solid #1d263e;
  background: #1d263e;
  color: #fff;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 20px !important;
  color: #fff !important;
  width: 100%;
  margin: auto;
  display: block;
}
#loginModal .modal-title {
  font-family: 'Circular';
  color: #222B44;
  font-size: 50px;
}
#loginModal .forgot-password a {
  color: #222B44;
}
#loginModal label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 300;
  color: #222B44;
  text-transform: uppercase;
}

.login .forgot-password a {
  color: inherit;
}

/* forgot password */
.forgot-password-wrapper {
  background-image: url(home/saxo.png);
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #232846;
  color: #eddb9a;
}
.forgot-password-wrapper >.container {
    min-height: 500px;
}
.forgot-password-wrapper input[type="email"] {
  border-color: #eddb9a;
}
.forgot-password-wrapper label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 300;
  color: #eddb9a;
  text-transform: uppercase;
}
.forgot-password-wrapper input[type="submit"], .forgot-password-wrapper button[type="submit"] {
  height: 40px;
  line-height: 40px;
  border: 2px solid #eddb9a;
  background: #eddb9a;
  color: #222B44;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 20px !important;
  width: 100%;
  margin: auto;
  display: block;
}
.forgot-password-wrapper .title-recover {
  font-size: 4.5rem;
  color: #f7eab5;
  font-family: Circular;
  line-height: 5rem;
}
.forgot-password-wrapper .subtitle-recover {
  font-size: 20px;
  line-height: 21px;
}
.forgot-password-wrapper #error_explanation h2 {
  display: none;
}
.forgot-password-wrapper input::placeholder {
  text-transform: unset;
}
.forgot-password-wrapper input[type="password"] {
  border-color: #eddb9a;
}
.forgot-password-wrapper input[type="password"]:focus {
  outline: unset;
}

/* recover password */
.recover-password {
  background-image: url(inscriptions/piano.jpg);
  min-height: 80vh;
  background-size: 28% auto;
  background-position: top left;
  background-repeat: no-repeat;
}

@media (min-width: 768px){
  #loginModal .modal-dialog {
    margin: 120px auto;
  }
}

@media (max-width: 576px) {
    #thankyou_contact {
        background-image: url("contact_us/fondo.jpg");
        height: auto;
        padding-top: 2rem;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: right;
    }
    #thankyou_contact a {
        color: #f7eab5;
        border: 1px solid #f7eab5;
        padding: 10px 34px;
        border-radius: 22px;
        font-size: 15px;
    }
    #loginModal .modal-content .modal-body {
      padding: 15px;
    }
    .forgot-password-wrapper, .recover-password {
      background-image: none;
      height: auto;
    }
}


/*payments*/

#payment .title-section h2 {
    font-size: 5rem;
    font-style: oblique;
    font-family: Circular;
    font-weight: normal;
    margin-bottom: 60px;
}

#payment .description p{
    font-family: Circular;
    font-weight: normal;
    font-style: oblique;
    font-size: 28px;
    line-height: 3rem;
    color: #1d263e;
}

#payment .card p{
    font-size: 18px;
    color: #1d263e;
    margin-top: 30px;
    font-weight: bold;
}

#payment .btn.btn-lg{
    padding: 2px 80px;
}
#why-donate {
    padding-top: 0px;
}
#why-donate .title-section h2{
    font-family: Circular;
    font-weight: normal;
    font-style: oblique;
    font-size: 4.8rem;
}

#why-donate .title-section h3{
    font-family: Circular;
    font-weight: normal;
    font-style: oblique;
    letter-spacing: normal;
    font-size: 3.8rem;
}

#donate .title-section h2 {
    font-size: 5rem;
    font-style: oblique;
    font-family: Circular;
    font-weight: normal;
    margin-bottom: 30px;
}

#donate .description p{
    font-family: Circular;
    font-weight: normal;
    font-style: oblique;
    font-size: 28px;
    line-height: 3rem;
    color: #1d263e;
}

#donate .card p{
    font-size: 18px;
    color: #1d263e;
    margin-top: 30px;
    font-weight: bold;
}

#donate .btn.btn-lg{
    padding: 2px 80px;
}
#donate .description p{
    font-size: 16px;
    color: #7a7a7a;
}


/*have questions*/
.have-questions{
    padding-top: 0px;
}
.have-questions .title-section h2{
    text-transform: none;
    font-size: 4rem;
}

.have-questions .title-section a{
    color: #1d263e;
    text-decoration: underline;
}


/*schedule*/

.card-event {
    width: 20%;
    padding: 10px;
}


.card-event .header-car-event {
    background-color: #1d263e;
    padding: 10px;
}

.card-event .header-car-event h3{
    color: #f7eab5;
    margin-bottom: 0;
    font-family: Circular;
    font-size: 18px;
    text-transform: uppercase;
}

.card-event .desc-card-event {
    background-color: #e6d583;
    padding: 25px 10px;
    min-height: 74px;
}

.card-event .desc-card-event p{
    color: #222745;
    margin-bottom: 0;
}

.flex-container{
    display: flex;
    flex-flow: wrap;
}

#schedule .title-section h2{
    font-size: 5rem;
    font-family: Circular;
}

.paddingx-4rem {
    padding-left: 4rem;
    padding-right: 4rem;
}

.margintop-2rem {
    margin-top: 2rem;
}

.modal-terms h5 {
    text-align: center;
}

@media (max-width: 575.98px) {
    .card-event {
        width: 100%;
        padding: 10px;
    }
    .carousel-control span{
        position: relative;
        top: 0%;
        color: #000;
        font-size: 4rem;
    }
    #schedule .title-section h2 {
      font-size: 3.5rem;
    }
    .container-video-tb .overlay {
      opacity: 1;
    }
    .container-video-tb .name {
      top: 80%;
    }
}