// Place all the styles related to the circulars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circulars {
    &#our-graduates .title-container {
        background-image: url("circulars/banner.jpg") !important;
        padding: 200px 16px 100px;
    }
    h2.white-section {
        font-size: 42px !important;
        margin-right: 0.7rem;
        margin-left: 0.7rem;
        margin-bottom: .8rem;
        text-align: center;
        &.contactus {
            margin-top: 4rem;
            font-weight: bold;
            color: #222B44;
            a {
                color: #222B44;
                span {
                    font-weight: bold;
                    text-decoration: underline;
                    cursor: pointer;
                    &:hover {
                        color: darken(#222B44, 10%);
                    }
                }
            }
        }
    }
    .subtitle-sm {
        color: #7a7a7a;
        margin-right: 0.7rem;
        margin-left: 0.7rem;
    }
}

.accordion-bootstrap {
    &.panel-group {
        .panel + .panel {
            margin-top: 0 !important;
        }
    }
    .panel {
        box-shadow: none;
        border-bottom: 1px solid #3C3C3B;
        border-radius: 0;
        border-top: none !important;
    }
    .panel-title {
        color: #222B44;
        font-weight: bold;
        font-family: 'Circular';
        font-size: 20px;
    }
    .opened, .closed {
        width: 22px;
        text-align: center;
    }
    .opened {
        display: none;
    }
    .closed {
        display: inline-block;
    }
    a:not(.collapsed) {
        .opened {
            display: inline-block;
        }
        .closed {
            display: none;
        }
        .panel-heading {
            background-color: #222B44;
            border-radius: 0 0 2em 2em;
            h4 {
                color: #ECDA9B;
            }
        }
    }
}