// Place all the styles related to the coexistence_manual controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coexistence-manual {
    background-color: #222B44;
    h1 {
        color: white;
    }

    iframe {
        margin: 3em 3%;
        width: 94%;
        min-height: 600px;
    }
}

@media (min-width: 767px) {
    .coexistence-manual {
        iframe {
            margin: 3em 10%;
            width: 80%;
            min-height: 800px;
        }
    }
}