// Place all the styles related to the graduated controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#our-graduates {
    padding: 0;
    .title-container {
        background-image: url("our_graduated/banner-prin.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: unset;
        padding: 256px 16px 156px;
    }
    .title-section {
        h1, h2 {
            font-size: 64px;
            font-weight: normal;
            color: #f7eab5;
            font-family: 'Bodoni';
            line-height: 1.1;
        }
        &.subtitle-section {
            h2 {
                font-family: 'Circular';
                color: #222B44;
                font-size: 56px;
            }
        }
    }

    .content p{
        font-family: "Circular";
        font-style: oblique;
        font-size: 16px;
        text-align: center;
        margin: 0 16px;
    }

    video {
        width: 100%;
        cursor: pointer;
    }
}

@media (max-width: 812px) {
    #our-graduates {
        .title-container {
            background-size: cover;
            background-position: right;
        }
    }
}

@media (max-width: 576px) {
    #our-graduates {
        .title-section {
            h2 {
                font-size: 48px;
            }
            &.subtitle-section {
                h2 {
                    font-size: 36px;
                }
            }
        }
    }
}