#inscriptions {
  padding: 0;
  .title-container {
      background-image: url("inscriptions/imde_banner_piano.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      padding: 256px 16px 156px;
  }
  .title-section {
      h1, h2 {
          font-size: 64px;
          font-weight: normal;
          color: #f7eab5;
          font-family: 'Bodoni';
          line-height: 1.1;
      }
      &.subtitle-section {
          h2 {
              font-family: 'Circular';
              color: #222B44;
              font-size: 50px;
          }
      }
  }
  
  .d-inline-block {
    width: 88%;
    padding-left: 10px;
  }
  .logo-indicator {
    vertical-align: top;
  }

  p {
    text-align: justify;
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea, select{
    padding: 5px 10px;
  }

  input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, input[type="date"]::placeholder, textarea::placeholder {
    font-family: "Circular";
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
  }

  input[type="email"] {
    width: 100%;
  }

  textarea {
    background-color: transparent;
    border: 1px solid #24273c;
    height: 100px;
    border-radius: 22px;
    margin-bottom: 0px;
    padding: 5px 10px;
  }

  input[type="submit"], button[type="submit"] {
    height: 40px;
    line-height: 40px;
    border: 2px solid #1d263e;
    background: #1d263e;
    color: #fff;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 20px !important;
    color: #fff !important;
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: block;
  }

  .content p{
      font-family: "Circular";
      font-style: oblique;
      font-size: 16px;
      text-align: center;
      margin: 0 16px;
  }

  .description {
    p{
      line-height: 19px;
    }
  }
  select{
    background-color: transparent;
    border: 1px solid #24273c;
    height: 45px;
    border-radius: 22px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-family: Circular;
  }


/* custom checkbox terms */
/* The container */
.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #1d263e;
  transition: all ease 0.2s;
}

/* On mouse-over, add a grey background color */
.checkbox label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox label input:checked ~ .checkmark {
    background-color: #1d263e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

  .form-wrapper {
    color: #222B44;
    .subcategory-title {
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 15px;
    }
    .subtext {
      text-align: center;
      font-size: 18px;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  video {
      width: 100%;
      cursor: pointer;
  }
}

@media (max-width: 812px) {
  #inscriptions {
      .title-container {
          background-size: cover;
          background-position: right;
      }
  }
}

@media (max-width: 576px) {
  #inscriptions {
      .title-section {
          h2 {
              font-size: 48px;
          }
          &.subtitle-section {
              h2 {
                  font-size: 36px;
                  padding-top: 15px;
              }
          }
      }
      .description {
        p{
          line-height: unset;
        }
      }
  }
}

/*thank you*/
#thankyou_inscription  {
  background-image: url("inscriptions/violin.png");
  height: 80vh;
  padding-top: 15rem;
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #232846;
  min-height: 600px;
}

#thankyou_inscription h2{
  font-size: 4.5rem;
  color: #f7eab5;
  font-family: Circular;
  line-height: 5rem;
}
#thankyou_inscription p{
  font-size: 20px;
  color: #f7eab5;
  font-family: Circular;
}

#thankyou_inscription a{
  color: #f7eab5;
  border: 1px solid #f7eab5;
  padding: 10px 105px;
  border-radius: 22px;
  font-size: 18px;
}


@media (max-width: 576px) {
  #thankyou_inscription {
      background-image: url("contact_us/fondo.jpg");
      height: auto;
      padding-top: 2rem;
      background-size: auto;
      background-repeat: no-repeat;
      background-position: right;
  }
  #thankyou_inscription a {
      color: #f7eab5;
      border: 1px solid #f7eab5;
      padding: 10px 34px;
      border-radius: 22px;
      font-size: 15px;
  }

}

@media (max-height: 500px) AND (max-width: 700px) {
  #thankyou_inscription {
    height: auto;
  }
}