.news {
    &#our-graduates .title-container {
        background-image: url("news/imde_banner_azul.png") !important;
        padding: 200px 16px 100px;
    }
    .ctn-news {
        font-family: 'Circular';
        .news-date {
            color: #222B44;
            font-weight: bold;
        }
        .news-image {
            max-height: 450px;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
        .news-title {
            color: #222B44;
            font-size: 22px;
            font-weight: 500;
            margin-top: 3rem;
        }
        .news-content {
            text-align: justify;
            padding: 0 3rem;
            line-height: 1.4;
            font-style: oblique;
        }
        .btn {
            background-color: transparent;
            padding-right: 10rem;
            padding-left: 10rem;
            color: lighten(#1d263e, 15%) !important;
            border-color: lighten(#1d263e, 15%) !important;
            margin-bottom: 96px;
            &:hover {
                color: darken(#1d263e, 1%) !important;
                border-color: darken(#1d263e, 1%) !important;
            }
        }
        .title-post-row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: baseline;
                -ms-flex-align: baseline;
                    align-items: baseline;
            margin-top: .5rem;
            h3, p {
                margin: 0;
                text-align: left;
            }
            p {
                min-width: 50px;
                margin-right: 2rem;
                text-transform: capitalize;
            }
            h3 {
                line-height: 1.3;
            }
        }
        .author {
            text-align: left;
            border-bottom: 1px solid lighten(#1d263e, 15%) !important;
            padding-bottom: .5rem;
            margin-top: .5rem;
            font-family: 'Circular';
            font-weight: 100;
            color: #222B44;
        }
    }
    .item-side-bar {
        margin-bottom: 2rem;
        color: #222B44;
        font-family: 'Circular';
        a {
            color: #222B44;
        }
        .title-side-bar {
            color: #222B44;
            font-weight: bold;
            border-bottom: 1px solid #222B44;
            padding-bottom: .75rem;
            margin-bottom: .75rem;
            font-size: 1.1em;
        }
        .list-item-side-bar {
            input {
                margin-top: .5rem;
                outline: none;
                padding-left: 18px;
                padding-right: 18px;
                &#search.with-results {
                    margin-bottom: 0 !important;
                    border-bottom: 0 !important;
                    border-radius: 2em 2em 0 0 !important;
                }
            }
            #results-search.with-results {
                border: 1px solid;
                padding: 18px;
                border-radius: 0 0 2em 2em;
            }
            p {
                margin: 0;
                line-height: 1.4;
            }
            .recent-post {
                margin-bottom: .75rem;
                .date {
                    font-size: .8em;
                    color: #64697C;
                    font-style: oblique;
                }
            }
        }
    }
    &.news-show {
        .news-content {
            padding: 0;
        }
        .banner-contact {
            position: relative;
            margin-top: 96px;
            .absolute-text {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                max-width: 70%;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                padding-right: 2rem;
                .btn.beige {
                    background-color: #f7eab5;
                    border-color: #f7eab5 !important;
                    color: #1d263e;
                    padding: 8px 24px;
                    min-width: initial;
                    line-height: 1;
                    height: auto;
                    margin-bottom: 0;
                }
                p {
                    font-size: 16px;
                    color: #f7eab5;
                    max-width: 200px;
                    margin-bottom: 0;
                    line-height: 1.3;
                    text-align: left;
                    margin-right: 1.5rem;
                    span{
                        font-family: 'Didot';
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .news {
        .ctn-news {
            .news-content {
                text-align: justify;
                padding: 0 1rem;
            }
            .title-post-row {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
            .btn {
                margin-bottom: 56px;
            }
        }
        &.news-show {
            .banner-contact .absolute-text p {
                max-width: 170px;
            }
        } 
    }
}

@media (max-width: 600px) {
    .news {
        &.news-show {
            .banner-contact .absolute-text p {
                display: none;
            }
        } 
    }
}