#philosophy {
    .our-history-ctn {
        max-height: 100%;
        overflow: auto;
        padding-top: 5%;
        p, ul {
            font-family: Circular;
            color: #1d263e;
            font-size: 16px;
        }
        ul {
            list-style: square inside;
        }
    }
}


@media (max-height: 700px) {
    .image-square#philosophy {
        max-height: 75vh;
    }
}

@media (max-width: 767.9px) {
    #philosophy {
        .our-history-ctn {
            max-height: 45vh;
        }
    }
}