<%= render partial: 'application/navbar' %>
<section class="coexistence-manual">
    <iframe src="https://e.issuu.com/anonymous-embed.html?u=institumusicaldiegoechavarria&d=_imde__manual_convivencia_pag" frameborder="0" allowfullscreen="true"></iframe>
</section>
<%= render partial: 'application/footer' %>