<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&amp" rel="stylesheet"
    type="text/css">
  <title>Email</title>
  <style>
    a {
      text-decoration: none;
    }
    @media (max-width: 500px) {
      .footer td,
      .footer tr {
        display: block;
        width: 100% !important;
      }
    }
  </style>
</head>

<body yahoo="" style="min-width: 100% !important; margin: 0; padding: 0;">
  <table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 600px; background-color: #000;">
          <tr>
            <td>
              <!-- header -->
              <img style="width: 100%;" src="https://s3.amazonaws.com/gch-resources/IMDiegoEchavarr%C3%ADa/mailer/banner.jpg">
            </td>
          </tr>
          <tr>
            <td style="text-align: center; font-family: sans-serif; color: #7f7f7d; padding: 50px 0; background: #fff; font-size: 22px;">
              <h3><%= @user.name %></h3>
              <h3>¡Gracias por <br>
                enviarnos un mensaje!</h3>
               <p>Pronto nos comunicaremos contigo <br>
                 vía e-mail o teléfono para resolver <br>
                 tus dudas.</p>
              <p>
                <a href="#" target="blank" style="text-align: center; font-family: sans-serif; border-radius: 25px; background: #222945; color: #fff; padding: 5px 50px; font-size: 17px;">VISITA NUESTRO SITIO</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <!-- footer -->
              <a href="#" target="blank">
                <img style="width: 100%;" src="https://s3.amazonaws.com/gch-resources/IMDiegoEchavarr%C3%ADa/mailer/footer.jpg">
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>