<%= render partial: "navbar" %>

<div class="main-container forgot-password-wrapper recover-password pt180">
  <div class="container">
    <div class="row text-center">
      <div class="title-recover">
        <%= t('recover_password.change_password') %>
      </div>
      <div class="subtitle-recover pt16 pb56">
        <%= t('change_password.content').html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for current_user, url: passwords_path do |f| %>
          <div class="field">
            <%= f.label :current_password, t('change_password.actual_password') %><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :password, t('recover_password.new_password') %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length.to_s + " " + t('recover_password.characters_minimum') %>)</em><br />
            <% end %>
            <%= f.password_field :password,  autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation, t('recover_password.confirm_password') %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <div class="actions pt56 pb32">
            <%= f.submit t('recover_password.change_password') %>
          </div>
        <% end %>
      </div>
    </div>
    <%#= render "devise/shared/links" %>
  </div>

  <%= render partial:  "footer" %>
</div>
