<%= render partial: 'application/navbar' %>
<% content_for :title,  "#{t 'SEO.inscriptions.title'}" %>
<% content_for :description, "#{t "SEO.inscriptions.description"}" %>
<section id="inscriptions">
  <div class="title-container">
    <div class="row">
      <div class="col">
        <div class="title-section text-center">
          <h1><%= t("inscriptions.title") %></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb96 pt96 pb-xs-32 description" id="whystudy">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag  "front/inscriptions/por-que-estudiar.jpg", alt: 'Por qué estudiar en el Instituto Musical Diego Echavarría' %>
      </div>
      <div class="col-sm-6">
        <div class="title-section subtitle-section">
          <h2><%= t('inscriptions.description.title').html_safe %></h2>
        </div>
        <%= t('inscriptions.description.content').html_safe %>
      </div>
    </div>
  </div>

  <div class="container pb32" id="studentprofile">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-section subtitle-section text-center">
          <h2><%= t('inscriptions.profile.title') %></h2>
        </div>
        <p class="text-center">
          <%= t('inscriptions.profile.subtext') %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 pb16">
        <%= image_tag  "front/inscriptions/indicador.png", class: 'logo-indicator' %>
        <div class="d-inline-block"><%= t('inscriptions.profile.features.f1').html_safe %></div>
      </div>
      <div class="col-sm-4 pb16">
        <%= image_tag  "front/inscriptions/indicador.png", class: 'logo-indicator' %>
        <div class="d-inline-block">
          <%= t('inscriptions.profile.features.f2').html_safe %>
        </div>
      </div>
      <div class="col-sm-4 pb16">
        <%= image_tag  "front/inscriptions/indicador.png", class: 'logo-indicator' %>
        <div class="d-inline-block">
          <%= t('inscriptions.profile.features.f3').html_safe %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 pb16">
        <%= image_tag  "front/inscriptions/indicador.png", class: 'logo-indicator' %>
        <div class="d-inline-block">
          <%= t('inscriptions.profile.features.f4').html_safe %>
        </div>
      </div>
      <div class="col-sm-4 pb16">
        <%= image_tag  "front/inscriptions/indicador.png", class: 'logo-indicator' %>
        <div class="d-inline-block">
          <%= t('inscriptions.profile.features.f5').html_safe %>
        </div>
      </div>
      <div class="col-sm-4 pb16">
        <%= image_tag  "front/inscriptions/indicador.png", class: 'logo-indicator' %>
        <div class="d-inline-block">
          <%= t('inscriptions.profile.features.f6').html_safe %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 pb16">
        <%= image_tag  "front/inscriptions/indicador.png", class: 'logo-indicator' %>
        <div class="d-inline-block">
          <%= t('inscriptions.profile.features.f7').html_safe %>
        </div>
      </div>
      <div class="col-sm-4 pb16">
        <%= image_tag  "front/inscriptions/indicador.png", class: 'logo-indicator' %>
        <div class="d-inline-block">
          <%= t('inscriptions.profile.features.f8').html_safe %>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb56 pt32 form-wrapper" id="inscriptionform">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-section subtitle-section text-center">
          <h2><%= t('inscriptions.form.title') %></h2>
        </div>
        <% if @config.active_form_inscription %>
          <p class="text-center subtext">

            <% if I18n.locale == :es %>

              <%= @config.message_form_inscription %>
            <% else %>
                <%= @config.message_form_inscription_english %>
            <%- end %>
          </p>
        <%- end %>
      </div>
    </div>
    
      <%= form_for @inscription, url: inscription_create_path, id: 'contact-form', method: 'post', class: 'contact-form'  do |f| %>
        <div class="row">
          <div class="col-sm-12 subcategory-title">
            <%= t('inscriptions.form.sections.student.title') %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :student_name, t('inscriptions.form.sections.student.fields.name') %>
            <%= f.text_field (:student_name), placeholder: t('inscriptions.form.sections.student.fields.example_name')  %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :student_last_school, t('inscriptions.form.sections.student.fields.last_school')%>
            <%= f.text_field (:student_last_school), placeholder: t('inscriptions.form.sections.student.fields.example_last_school') %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :student_birthdate, t('inscriptions.form.sections.student.fields.birthdate') %>
            <%= f.text_field (:student_birthdate), type: 'date' %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :student_ingress_year, t('inscriptions.form.sections.student.fields.ingress_year')%>
            <%= f.select (:student_ingress_year), options_for_select(years_for_select), include_blank: t('inscriptions.form.sections.student.fields.example_ingress_year'), required: 'required' %>
          </div>
          <div class="col-sm-12">
            <div class="checkbox pb8">
              <label><%= raw t("inscriptions.form.sections.student.fields.apply_to_school_check") %><input type="checkbox" value="selected" id="apply_to_school_check" name="apply_to_school_check"><span class="checkmark"></span></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 subcategory-title">
            <%= t('inscriptions.form.sections.mother.title') %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :mother_name, t('inscriptions.form.sections.parents.fields.name') %>
            <%= f.text_field (:mother_name), placeholder: t('inscriptions.form.sections.mother.placeholders.name') %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :mother_age, t('inscriptions.form.sections.parents.fields.age') %>
            <%= f.select (:mother_age), options_for_select(parent_age_for_select), include_blank: t('inscriptions.form.sections.mother.placeholders.age') , required: 'required' %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :mother_school, t('inscriptions.form.sections.parents.fields.school') %>
            <%= f.text_field (:mother_school), placeholder: t('inscriptions.form.sections.mother.placeholders.school')  %>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 form-group">
                <%= label_tag :mother_profession, t('inscriptions.form.sections.parents.fields.profession') %>
                <%= f.text_field (:mother_profession), placeholder: t('inscriptions.form.sections.mother.placeholders.profession')  %>
              </div>
              <div class="col-sm-6 form-group">
                <%= label_tag :mother_university, t('inscriptions.form.sections.parents.fields.university') %>
                <%= f.text_field (:mother_university), placeholder: t('inscriptions.form.sections.mother.placeholders.university')  %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 form-group">
                <%= label_tag :mother_workplace, t('inscriptions.form.sections.parents.fields.workplace') %>
                <%= f.text_field (:mother_workplace), placeholder: t('inscriptions.form.sections.mother.placeholders.workplace')  %>
              </div>
              <div class="col-sm-6 form-group">
                <%= label_tag :mother_job, t('inscriptions.form.sections.parents.fields.job') %>
                <%= f.text_field (:mother_job),placeholder: t('inscriptions.form.sections.mother.placeholders.job')  %>
              </div>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :mother_email, t('inscriptions.form.sections.parents.fields.email') %>
            <%= f.text_field (:mother_email), placeholder: t('inscriptions.form.sections.mother.placeholders.email'), required: true, type: "email" %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :mother_phone, t('inscriptions.form.sections.parents.fields.phone') %>
            <%= f.text_field (:mother_phone), placeholder: t('inscriptions.form.sections.mother.placeholders.phone')  %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :mother_cellphone, t('inscriptions.form.sections.parents.fields.cellphone') %>
            <%= f.text_field (:mother_cellphone), placeholder: t('inscriptions.form.sections.mother.placeholders.cellphone') %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 subcategory-title">
            <%= t('inscriptions.form.sections.father.title') %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :father_name, t('inscriptions.form.sections.parents.fields.name') %>
            <%= f.text_field (:father_name), placeholder: t('inscriptions.form.sections.father.placeholders.name')  %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :father_age, t('inscriptions.form.sections.parents.fields.age') %>
            <%= f.select (:father_age), options_for_select(parent_age_for_select), include_blank: t('inscriptions.form.sections.father.placeholders.age') , required: 'required' %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :father_school, t('inscriptions.form.sections.parents.fields.school') %>
            <%= f.text_field (:father_school), placeholder: t('inscriptions.form.sections.father.placeholders.school')  %>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 form-group">
                <%= label_tag :father_profession, t('inscriptions.form.sections.parents.fields.profession') %>
                <%= f.text_field (:father_profession), placeholder: t('inscriptions.form.sections.father.placeholders.profession')  %>
              </div>
              <div class="col-sm-6 form-group">
                <%= label_tag :father_university, t('inscriptions.form.sections.parents.fields.university') %>
                <%= f.text_field (:father_university), placeholder: t('inscriptions.form.sections.father.placeholders.university')  %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 form-group">
                <%= label_tag :father_workplace, t('inscriptions.form.sections.parents.fields.workplace') %>
                <%= f.text_field (:father_workplace), placeholder: t('inscriptions.form.sections.father.placeholders.workplace')  %>
              </div>
              <div class="col-sm-6 form-group">
                <%= label_tag :father_job, t('inscriptions.form.sections.parents.fields.job') %>
                <%= f.text_field (:father_job), placeholder: t('inscriptions.form.sections.father.placeholders.job')  %>
              </div>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :father_email, t('inscriptions.form.sections.parents.fields.email') %>
            <%= f.text_field (:father_email), placeholder: t('inscriptions.form.sections.father.placeholders.email'), required: true, type: 'email' %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :father_phone, t('inscriptions.form.sections.parents.fields.phone') %>
            <%= f.text_field (:father_phone), placeholder: t('inscriptions.form.sections.father.placeholders.phone')  %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :father_cellphone, t('inscriptions.form.sections.parents.fields.cellphone') %>
            <%= f.text_field (:father_cellphone), placeholder: t('inscriptions.form.sections.father.placeholders.cellphone')  %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 subcategory-title">
            <%= t('inscriptions.form.sections.general.title') %>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <%= label_tag :city, t('inscriptions.form.sections.general.fields.city') %>
                <%= f.select (:city), options_for_select(cities_for_select), include_blank: true, required: 'required' %>
              </div>
              <div class="col-sm-6">
                <%= label_tag :neighborhood, t('inscriptions.form.sections.general.fields.neighborhood') %>
                <%= f.text_field (:neighborhood) %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <%= label_tag :address, t('inscriptions.form.sections.general.fields.address') %>
            <%= f.text_field (:address) %>
          </div>
          <div class="col-sm-12 form-group">
            <%= label_tag :address, t('inscriptions.form.sections.general.notice') %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :phone, t('inscriptions.form.sections.general.fields.phone') %>
            <%= f.text_field (:phone), placeholder: t('inscriptions.form.sections.general.placeholders.phone') %>
          </div>
          <div class="col-sm-6 form-group">
            <%= label_tag :another_phone, t('inscriptions.form.sections.general.fields.another_phone') %>
            <%= f.text_field (:another_phone), placeholder:t('inscriptions.form.sections.general.placeholders.another_phone') %>
          </div>
          <div class="col-sm-6 ">
            <%= label_tag :change_reason, t('inscriptions.form.sections.general.fields.motivation') %>
            <%= f.text_area (:change_reason), placeholder: t('inscriptions.form.sections.general.placeholders.motivation') %>
          </div>
          <div class="col-sm-6 ">
            <%= label_tag :who_recommended, t('inscriptions.form.sections.general.fields.recommended') %>
            <%= f.text_area (:who_recommended), placeholder: t('inscriptions.form.sections.general.placeholders.recommended') %>
          </div>
          <div class="col-sm-12">
            <div class="checkbox pb8">
              <label><%= raw t("contact_us.form.terms_and_conditions") %><input type="checkbox" value="" required><span class="checkmark"></span></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.submit t('inscriptions.form.sections.submit_btn'), class: 'btn btn-send', type: 'submit' %>
          </div>
        </div>
      <% end %>

  </div>
</section>
<%= render partial: 'application/footer' %>