<%= render partial: "navbar" %>
<div class="main-container" id="thankyou_inscription">
  <section>
    <div class="container">
      <div class="col-md-8 text-center col-md-offset-2">
        <h2>
          <%= raw t("thankyou_inscriptions.title") %>
        </h2>
        <p> <%= raw t("thankyou_inscriptions.subtext") %></p>
        <div class="mt48">
        <a href="<%= root_path %>"> <%= t("thankyou_inscriptions.cta") %></a>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render partial:  "footer" %>