<%= render partial: "navbar" %>
<div class="main-container" id="thankyou_contact">
  <section>
    <div class="container">
      <div class="col-md-8 text-center col-md-offset-2">
        <h2>
          <%= raw t("notfound.title") %>
        </h2>
        <p> <%= raw t("notfound.subtitle") %></p>
        <div class="mt48">
        <a href="/"> <%= t("notfound.cta") %></a>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render partial:  "footer" %>