<%= render partial: 'application/navbar' %>
<% content_for :title,  "#{t 'SEO.graduated.title'}" %>
<% content_for :description, "#{t "SEO.graduated.description"}" %>
<section id="our-graduates">
    <div class="title-container">
        <div class="row">
            <div class="col">
                <div class="title-section text-center">
                    <h1><%= t("graduated.our_graduated") %></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb96 pt96 pb-xs-32">
        <div class="row">
            <div class="col">
                <div class="title-section subtitle-section text-center">
                    <h2><%= t("graduated.know_them") %></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row content">
                <p>
                    <%= t("graduated.large_text") %>
                </p>
            </div>
        </div>
        <div class="row mt64 mb64 mb-xs-0">
            <div class="col-sm-6">
              <div class="mb32 container-video-tb">
                <%= image_tag "front/our_graduated/vid1.jpg", class: "img-fluid img-responsive" %>
                <div class="info text-center">
                  <%= image_tag "front/about_us/play-icon.png" %>
                </div>
                <div class="overlay">
                  <a href="https://www.youtube.com/watch?v=R54yDv1vtFo" class="youtube-popup">
                    <div class="info text-center">
                      <%= image_tag "front/about_us/play-icon.png" %>
                    </div>
                    <div class="name">
                    </div>
                  <a href="https://www.youtube.com/watch?v=R54yDv1vtFo" class="youtube-popup">
                </div>
              </div>
            </div>
             <div class="col-sm-6">
              <div class="mb32 container-video-tb">
                <%= image_tag "front/our_graduated/vid2.jpg", class: "img-fluid img-responsive" %>
                <div class="info text-center">
                  <%= image_tag "front/about_us/play-icon.png" %>
                </div>
                <div class="overlay">
                  <a href="https://www.youtube.com/watch?v=9ibuqnu89bg" class="youtube-popup">
                    <div class="info text-center">
                      <%= image_tag "front/about_us/play-icon.png" %>
                    </div>
                    <div class="name">
                    </div>
                  <a href="https://www.youtube.com/watch?v=9ibuqnu89bg" class="youtube-popup">
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<%= render partial: 'application/footer' %>