<%= render partial: "navbar" %>

<div class="main-container forgot-password-wrapper login pt180">
  <div class="container">
    <div class="row text-center">
      <div class="title-recover pt16 pb56">
        Login
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, t('general.login.form.email') %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password, t('general.login.form.password') %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field forgot-password pb32">
            <%= link_to  t('general.login.forgot_password'), new_user_password_path %>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <%= f.submit t('general.login.btn'), class: 'btn btn-send', type: 'submit' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%#= render "devise/shared/links" %>
  </div>

  <%= render partial:  "footer" %>
</div>
