<div class="row">
  <div class="col-12 col-md-8 col-lg-7 col-xl-5 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <a href="<%= new_parents_school_lessons_path %>" class="btn btn-outline-success m-2 my-md-0 btn-sm">Nueva video</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row index-admin">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title mb-5">Videos de Escuela de Padres</h5>
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr>
                <th class="border-bottom-0">Thumbnail</th>
                <th class="border-bottom-0">Nombre</th>
                <th class="border-bottom-0">Url</th>
                <th class="border-bottom-0"></th>
              </tr>
            </thead>
            <tbody>
            <% @lessons.each do |lesson| %>
              <tr>
                <td><%= image_tag  lesson.thumbnail.url, class: "img-thumbnail" %></td>
                <td><%= lesson.name_es %></td>
                <td><%= lesson.video %></td>
                <td>
                  <a href="<%= edit_parents_school_lessons_path(lesson) %>" class="btn btn-outline-success btn-sm mr-2">Editar</a>
                  <%= link_to 'Eliminar', destroy_parents_school_lessons_path(lesson),  data: {:confirm => '¿Estás seguro?'}, :method => :delete, class: "btn btn-outline-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>