<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Nuevo video escuela de padres</h3>
      <p class="card-description">
        Ingresa la información
      </p>
      <%= form_for(@lesson, url: '/admin/parents-lesson') do |form| %>
        <div class="form-group row">
          <%= form.label "Nombre (español)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_field :name_es, class: "form-control", placeholder: "Aprendiendo las notas" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label "Nombre (inglés)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_field :name_en, class: "form-control", placeholder: "Learning about music" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label "URL del video en youtube (español)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_field :video, class: "form-control", placeholder: "Ej: https://www.youtube.com/watch?v=O_RbxckX1Lk" %>
          </div>
        </div>
        <div class="form-group row">
          <%= form.label "URL del video en youtube (inglés)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_field :video_en, class: "form-control", placeholder: "Ej: https://www.youtube.com/watch?v=O_RbxckX1Lk" %>
          </div>
        </div>

        <div class="form-group row" data-toggle="tooltip" title="Dimensión recomendada: 560px x 310px">
          <%= form.label "Thumbnail", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.file_field :thumbnail, class: "form-control" %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-success mr-2" %> <%= link_to 'Cancelar', parents_school_lessons_admin_path, class: "btn btn-light"%>
        </div>
      <% end %>
    </div>
  </div>
</div>