<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Editar evento</h3>
      <p class="card-description">
        Ingresa la información que desees modificar
      </p>
      <%= form_with(model: @post, local: true, url: update_posts_path(@post)) do |form| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group row">
          <%= form.label :title, "Titulo (Español)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_field :title, class: "form-control", placeholder: "Ej: Inicio de clases" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :title_en, "Titulo (Inglés)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_field :title_en, class: "form-control", placeholder: "Ej: Inicio de clases" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :author, "Autor", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_field :author, class: "form-control", placeholder: "Ej: Maria Carvajal" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :content, "Contenido (español)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_area :content, class: "form-control", id: "editor" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :content_en, "Contenido (Inglés)", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.text_area :content_en, class: "form-control", id: "editor-2" %>
          </div>
        </div>

        <div class="form-group row" data-toggle="tooltip" title="Dimensiones recomendadas: 650px x 450px">
          <%= form.label :image, "Imagen principal", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.file_field :image, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :category_post_id, "Categoría", class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= form.select :category_post_id, @categories.collect{|c| [c.name, c.id]}, {:include_blank => 'Seleccione...'}, {class: 'form-control', required: true} %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-success mr-2" %> <%= link_to 'Cancelar', posts_admin_path, class: "btn btn-light"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  CKEDITOR.replace( 'editor-2' );
</script>
