<div class="row">
  <div class="col-12 col-md-8 col-lg-7 col-xl-5 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <a href="<%= new_posts_path %>" class="btn btn-outline-success m-2 my-md-0 btn-sm">Nueva noticia</a>
            <a href="<%= category_posts_admin_path %>" class="btn btn-outline-info m-2 my-md-0 btn-sm">Editar categorias</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title mb-5">Noticias</h5>
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr>
                <th class="border-bottom-0">Titulo</th>
                <th class="border-bottom-0">Contenido</th>
                <th class="border-bottom-0">Autor</th>
                <th class="border-bottom-0">Categoría</th>
                <th class="border-bottom-0">Fecha de publicación</th>
                <th class="border-bottom-0"></th>
              </tr>
            </thead>
            <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <td><%= strip_tags post.content.truncate(100) %></td>
                <td><%= post.author %></td>
                <td><%= post.category_post.name %></td>
                <td><%= post.created_at.strftime("%F") %></td>
                <td>
                  <a href="<%= edit_posts_path(post) %>" class="btn btn-outline-success btn-sm mr-2">Editar</a>
                  <%= link_to 'Eliminar', destroy_posts_path(post),  data: {:confirm => '¿Estás seguro?'}, :method => :delete, class: "btn btn-outline-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>