<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&amp" rel="stylesheet"
    type="text/css">
  <title>Email</title>
  <style>
    a {
      text-decoration: none;
    }
    @media (max-width: 500px) {
      .footer td,
      .footer tr {
        display: block;
        width: 100% !important;
      }
    }
  </style>
</head>

<body yahoo="" style="min-width: 100% !important; margin: 0; padding: 0;">
  <table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 600px; background-color: #000;">
          <tr>
            <td>
              <!-- header -->
              <img style="width: 100%;" src="https://s3.amazonaws.com/gch-resources/IMDiegoEchavarr%C3%ADa/mailer/banner-prioridad.png">
            </td>
          </tr>
          <tr>
            <td style="text-align: center; font-family: sans-serif; color: #7f7f7d; padding: 50px 0; background: #fff; font-size: 22px;">
              <h3>Hola</h3>
              <h3>¡<%= @inscription.mother_name %> ha diligenciado<br>
              el formulario de inscripción<br>
              y está aplicando para los<br>
              cupos disponibles</h3>
               <p><%= @inscription.mother_name %> ha dejado sus datos<br>
              en el formulario de <b>Inscripción</b></p>
              <p>
              <h3>INFORMACIÓN DEL ALUMNO</h3>
              <p> 
                <b>Nombre:</b> <%= @inscription.student_name %><br>
                <b>Fecha de nacimiento:</b> <%= @inscription.student_birthdate %><br>
                <b>Colegio anterior:</b> <%= @inscription.student_last_school %><br>
                <b>Año de ingreso:</b> <%= @inscription.student_ingress_year %>
              </p>
              _
              <h3>INFORMACIÓN DE LA MADRE</h3>
              <p> 
                <b>Nombre:</b> <%= @inscription.mother_name %><br>
                <b>Edad:</b> <%= @inscription.mother_age %><br>
                <b>¿Dónde terminó bachillerato?:</b> <%= @inscription.mother_school %><br>
                <b>Profesión:</b> <%= @inscription.mother_profession %><br>
                <b>Universidad:</b> <%= @inscription.mother_university %><br>
                <b>¿Dónde trabaja?:</b> <%= @inscription.mother_workplace %><br>
                <b>Cargo:</b> <%= @inscription.mother_job %><br>
                <b>E-mail:</b> <%= @inscription.mother_email %><br>
                <b>Teléfono fijo:</b> <%= @inscription.mother_phone %><br>
                <b>Teléfono celular:</b> <%= @inscription.mother_cellphone %><br>
              </p>
              _
              <h3>INFORMACIÓN DEL PADRE</h3>
              <p> 
                <b>Nombre:</b> <%= @inscription.father_name %><br>
                <b>Edad:</b> <%= @inscription.father_age %><br>
                <b>¿Dónde terminó bachillerato?:</b> <%= @inscription.father_school %><br>
                <b>Profesión:</b> <%= @inscription.father_profession %><br>
                <b>Universidad:</b> <%= @inscription.father_university %><br>
                <b>¿Dónde trabaja?:</b> <%= @inscription.father_workplace %><br>
                <b>Cargo:</b> <%= @inscription.father_job %><br>
                <b>E-mail:</b> <%= @inscription.father_email %><br>
                <b>Teléfono fijo:</b> <%= @inscription.father_phone %><br>
                <b>Teléfono celular:</b> <%= @inscription.father_cellphone %><br>
              </p>
              _
              <h3>INFORMACIÓN GENERAL</h3>
              <p> 
                <b>Municipio:</b> <%= @inscription.city %><br>
                <b>Bariio:</b> <%= @inscription.neighborhood %><br>
                <b>Dirección:</b> <%= @inscription.address %><br>
                <b>Teléfono de la casa:</b> <%= @inscription.phone %><br>
                <b>Otro teléfono</b> <%= @inscription.another_phone %><br>
                <% unless @inscription.change_reason.nil? || @inscription.change_reason == "" %>
                <b>Motivo del cambio:</b> <%= @inscription.change_reason %><br>
                <% end %>
                <b>¿Quién le recomendó el colegio:</b> <%= @inscription.who_recommended %><br>
              </p>
                <h3>No olvides contactarlos</h3>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <!-- footer -->
              <a href="#" target="blank">
                <img style="width: 100%;" src="https://s3.amazonaws.com/gch-resources/IMDiegoEchavarr%C3%ADa/mailer/footer.jpg">
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>