<!-- The modal -->
<div class="modal fade modal-terms" id="policy" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel"><%= t('policy_popup.title') %></h4>
      </div>
      <div class="modal-body paddingx-4rem">
        <%= t('policy_popup.content').html_safe %>
        <%= t('policy_popup.content2').html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('popup.close') %></button>
      </div>
    </div>
  </div>
</div>