<footer class="footer-1 bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <%= image_tag "front/logo-menu.png", class: "logo", alt: "logo instituto musical Diego echavarría" %>

      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <a href="<%= about_us_path(anchor: "symbols") %>">
          <h6 class="title"><%= t("footer.about_us") %></h6>
          </a>
          <hr>
          <ul class="recent-posts">
            <li>
              <a href="<%= about_us_path(anchor: "ourphilosophy") %>"><%= t("footer.mission") %></a>
            </li>
            <li>
              <a href="<%= about_us_path(anchor: "ourphilosophy") %>"><%= t("footer.values") %></a>
            </li>
            <li>
              <a href="<%= about_us_path(anchor: "ourphilosophy") %>"><%= t("footer.conception") %></a>
            </li>
          </ul>
        </div>
        <div class="widget">
          <a href="<%= about_us_path(anchor: "ourphilosophy") %>">
            <h6 class="title"><%= t("footer.our_philosophy") %></h6>
          </a>
          <hr>
          <ul class="recent-posts">
            <li>
              <a href="<%= about_us_path(anchor: "ouridentity") %>"><%= t("footer.our_history") %></a>
            </li>
            <li>
              <a href="<%= about_us_path(anchor: "our_place") %>"><%= t("footer.our_places") %></a>
            </li>
            <li>
              <a href="<%= about_us_path(anchor: "characteristics") %>"><%= t("footer.our_educative_service") %></a>
            </li>
            <li>
              <a href="<%= about_us_path(anchor: "symbols") %>"><%= t("footer.anthem") %></a>
            </li>
            <li>
              <a href="<%= about_us_path(anchor: "symbols") %>"><%= t("footer.uniform") %></a>
            </li>
            <li>
              <a href="<%= coexistence_manual_path %>"><%= t("footer.manual") %></a>
            </li>
          </ul>
        </div>
        <!--end of widget-->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <a href="<%= graduated_path %>">
          <h6 class="title"><%= t("footer.our_graduates") %></h6>
          </a>
          <hr>
        </div>
        <div class="widget">
          <a href="<%= news_path %>">
          <h6 class="title"><%= t("footer.notices_comunicates") %></h6>
          </a>
          <hr>
          <ul class="recent-posts">
            <li>
              <a href="<%= schedules_path %>"><%= t("footer.diary") %></a>
            </li>
            <li>
              <a href="<%= news_path %>"><%= t("footer.notices") %></a>
            </li>
            <li>
              <a href="<%= circulars_path %>"><%= t("footer.circulares") %></a>
            </li>
            <li>
              <a href="<%= school_parents_path %>"><%= t("footer.parents_school") %></a>
            </li>
          </ul>
        </div>
        <div class="widget">
          <a href="<%= inscriptions_path %>">
          <h6 class="title"><%= t("footer.join_to_institute") %></h6>
          </a>
          <hr>
          <ul class="recent-posts">
            <li>
              <a href="<%= inscriptions_path(anchor: "whystudy") %>"><%= t("footer.why_study_here") %></a>
            </li>
            <li>
              <a href="<%= inscriptions_path(anchor: "studentprofile") %>"><%= t("footer.profile") %></a>
            </li>
            <li>
              <a href="<%= inscriptions_path(anchor: "studentprofile") %>"><%= t("footer.relationship_father") %></a>
            </li>
            <li>
              <a href="<%= inscriptions_path(anchor: "inscriptionform") %>"><%= t("footer.form_admnision") %></a>
            </li>

          </ul>
        </div>
        <!--end of widget-->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <a href="<%= faq_path %>">
          <h6 class="title"><%= t("footer.fqa") %></h6>
          </a>
          <hr>

        </div>
        <div class="widget">
          <a href="<%= contact_us_path %>">
          <h6 class="title"><%= t("footer.contact_us") %></h6>
          </a>
          <hr>
        </div>
        <!--end of widget-->
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-12 text-center pt-4">
        <a href="https://www.hablacreativo.com" target="blank">
          <%= image_tag  "front/logo-habla.png", class: 'img-fluid', alt: "Habla Creativo", title: "Habla Creativo" %>
        </a>
      </div>
    </div>

  </div>
  <!--end of container-->

</footer>