<!-- Modal -->
<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pt32">LOGIN</h4>
      </div>
      <div class="modal-body">

        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <div class="field">
            <%= f.label :email, t('general.login.form.email') %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password, t('general.login.form.password') %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field forgot-password pb32">
            <%= link_to  t('general.login.forgot_password'), new_user_password_path %>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <%= f.submit t('general.login.btn'), class: 'btn btn-send', type: 'submit' %>
            </div>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
      </div>
    </div>
    
  </div>
</div>