<div class="nav-container absolute-nav">
	<a id="top"></a>
	<nav class="bg-transparent">
		<div class="nav-bar">
			<div class="module left">
				<a href="<%= root_path %>">
					<%= image_tag "front/logo-menu.png", alt: "logo Instituto Diego Echavarría", class: "logo logo-light" %>
					<%= image_tag "front/logo-menu.png", alt: "logo Instituto Diego Echavarría", class: "logo logo-dark" %>
				</a>
			</div>
			<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
				<i class="ti-menu"></i>
			</div>
			<div class="module-group right">
				<div class="module left">
					<ul class="menu">
						<li>
							<a href="<%= root_path %>">
								<%= t("navbar.a.home") %>
							</a>

						</li>
						<li>
							<a href="<%= about_us_path %>">
								<%= t("navbar.a.about_us") %>
							</a>
						</li>
						<li>
							<a href="<%= graduated_path %>">
								<%= t("navbar.a.graduates") %>
							</a>
						</li>
            <li class="has-dropdown">
							<a href="<%= news_path %>">
								<%= t("navbar.a.news.title") %>
							</a>
							<ul class="submenu-diego">
								<li><%= link_to t("navbar.a.news.news"), news_path %></li>
								<li><%= link_to t("navbar.a.news.parents_school"), school_parents_path %></li>
                <li><%= link_to t("navbar.a.news.circulars"), circulars_path %></li>
                <li><%= link_to t("navbar.a.news.schedules"), schedules_front_path %></li>
                <li><%= link_to t("navbar.a.news.history"), history_of_arts_path %></li>
							</ul>
						</li>
						<li>
							<a href="<%= payments_path %>">
								<%= t("navbar.a.payments") %>
							</a>
						</li>
						<li>
							<a href="<%= inscriptions_path %>">
								<%= t("navbar.a.join_us") %>
							</a>
						</li>
						<li>
							<a href="<%= contact_us_path %>">
								<%= t("navbar.a.contact_us") %>
							</a>
						</li>
					</ul>
				</div>
				<div class="module widget-handle login left">
					<ul class="menu">
						<li class="login">
							<% unless user_signed_in? %>
								<a data-toggle="modal" data-target="#loginModal" href="#"><%= t("navbar.a.register_login") %></a>
							<% else %>
								<%= link_to t("navbar.a.register_logout"), destroy_user_session_path, method: :delete %>
							<% end %>
						</li>
					</ul>
				</div>

				<div class="module widget-handle language left hidden">
					<ul class="menu">
						<li class="has-dropdown">
							<a class="<%= "hidden" if is_locale_es %>">en</a>
							<a class="<%= "hidden" if is_locale_en %>">esp</a>
							<ul>
								<li><%= link_to 'en', change_locale_path(:en), class: ("hidden" if is_locale_en) %></li>
								<li><%= link_to 'es', change_locale_path(:es), class: ("hidden" if is_locale_es) %></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>

<%= render partial: "login_modal" %>