<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <%= link_to admin_path, class: "navbar-brand brand-logo" do  %>
      <%= image_tag "front/logo-menu.png", alt: "logo Instituto Diego Echavarría" %>
    <%- end %>
    <%= link_to admin_path, class: "navbar-brand brand-logo-mini" do  %>
      <%= image_tag "front/logo-menu.png", alt: "logo Instituto Diego Echavarría" %>
    <%- end %>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown">
        
        
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>