<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="<%= schedules_admin_path %>"><img class="menu-icon" src="/assets/admin/menu_icons/06.png" alt="menu icon"><span class="menu-title">Cronograma</span></a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#news" aria-expanded="false" aria-controls="news"> <img class="menu-icon" src="/assets/admin/menu_icons/01.png" alt="menu icon"> <span class="menu-title">Noticias</span><i class="menu-arrow"></i></a>
        <div class="collapse" id="news">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="<%= posts_admin_path %>">Posts</a></li>
            <li class="nav-item"> <a class="nav-link" href="<%= category_posts_admin_path %>">Categorias</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="<%= home_images_admin_path %>"><i class="fa fa-file-image-o menu-icon" aria-hidden="true"></i><span class="menu-title">Banners</span></a></li>
      <li class="nav-item"><%= link_to setup_path, class: "nav-link", data: { no_turbolink: true } do  %><img class="menu-icon" src="<%= image_url "admin/menu_icons/if_config.png" %>" alt="menu icon"><span class="menu-title">Configuración</span><%- end %></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#circulares-dropdown" aria-expanded="false" aria-controls="circulares-dropdown">  <i class="fa fa-sticky-note menu-icon" aria-hidden="true"></i> <span class="menu-title">Circulares</span><i class="menu-arrow"></i></a>
        <div class="collapse" id="circulares-dropdown">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <%= link_to 'Ver todas', circulars_admin_path, class: "nav-link" %></li>
            <li class="nav-item"> <%= link_to 'Crear Circular', create_circular_path, class: "nav-link" %></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#school" aria-expanded="false" aria-controls="school"> <i class="fa fa-file-video-o menu-icon" aria-hidden="true"></i>  <span class="menu-title">Escuela de padres</span><i class="menu-arrow"></i></a>
        <div class="collapse" id="school">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="<%= parents_school_lessons_admin_path %>">Todos</a></li>
            <li class="nav-item"> <a class="nav-link" href="<%= new_parents_school_lessons_path %>">Nuevo video</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#history" aria-expanded="false" aria-controls="history"> <i class="fa fa-file-video-o menu-icon" aria-hidden="true"></i>  <span class="menu-title">Historia del arte</span><i class="menu-arrow"></i></a>
        <div class="collapse" id="history">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="<%= history_lessons_admin_path %>">Todos</a></li>
            <li class="nav-item"> <a class="nav-link" href="<%= new_history_lessons_path %>">Nuevo video</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#users-dropdown" aria-expanded="false" aria-controls="users-dropdown">  <i class="fa fa-user menu-icon" aria-hidden="true"></i> <span class="menu-title">Usuarios</span><i class="  menu-arrow"></i></a>
        <div class="collapse" id="users-dropdown">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <%= link_to 'Ver todos', users_path, class: "nav-link" %></li>
            <li class="nav-item"> <%= link_to 'Crear Usuario', new_user_path, class: "nav-link" %></li>
            <li class="nav-item"> <%= link_to 'Importar', show_import_user_path, class: "nav-link" %></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>  
