<%= render partial: "navbar" %>
<% content_for :title,  "#{t 'SEO.about.title'}" %>
<% content_for :description, "#{t "SEO.about.description"}" %>

<section class="page-title page-title-1 image-bg overlay">
  <div class="background-image-holder">
    <%= image_tag "front/news/imde_banner_azul.png", class: "background-image", alt: "background image Sobre Nosotros" %>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="uppercase mb0 title-didot"><%= t("about_us.about_us_title") %></h1>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <!--<ol class="breadcrumb breadcrumb-2">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Elements</a>
    </li>
    <li class="active">Page Titles</li>
  </ol>-->
</section>

<section id="tabs-about-us">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 col-sm-12 text-center" id="ourphilosophy">
        <div class="row mb40">
          <div class="col-md-12 text-center title-section">
            <h2><%= t("about_us.our_philosophy") %></h2>
            <hr>

          </div>
        </div>
        <div class="tabbed-content text-tabs">
          <ul class="tabs">
            <li class="active">
              <div class="tab-title tab-left">
                <span><%= t("about_us.mission") %></span>
              </div>
              <div class="tab-content info">

                <div class="col-md-6">
                  <%= image_tag "front/about_us/mision.jpg", alt: "Misión" %>
                </div>
                <div class="col-md-6 text-left text-tab">
                  <h3>
                    <%= raw t("about_us.mission") %>
                  </h3>
                  <p class="text-justify"><%= raw t("about_us.mission_content") %></p>
                </div>

              </div>
            </li>
            <li>
              <div class="tab-title">
                <span><%= t("about_us.vision") %></span>
              </div>
              <div class="tab-content info">

                <div class="col-md-6">
                  <%= image_tag "front/about_us/vision", alt: "visión" %>
                </div>
                <div class="col-md-6 text-left text-tab">
                  <h3>
                    <%= raw t("about_us.vision") %>
                  </h3>
                  <p class="text-justify"><%= raw t("about_us.vission_content") %></p>
                </div>

              </div>
            </li>
            <li>
              <div class="tab-title tab-right">
                <span><%= raw t("about_us.declaration_of_values") %></span>
              </div>
              <div class="tab-content info">
                <div class="col-md-6">
                  <%= image_tag "front/about_us/declaraciondeprin1.jpg", alt: "Servicio educativo", class: "mb30" %>
                  <%= image_tag "front/about_us/declaraciondeprin2.jpg", alt: "Servicio educativo" %>
                </div>
                <div class="col-md-6 text-left text-tab">
                  <h3>
                    <%= raw t("about_us.declaration_of_values_title") %>
                  </h3>
                  <div class="text-justify"><%= raw t("about_us.declaration_of_values_content") %></div>
                  
                </div>
              </div>
            </li>
            <li>
              <div class="tab-title tab-right ">
                <span><%= raw t("about_us.conception_of_education") %></span>
              </div>
              <div class="tab-content info">
                <div class="col-md-6">
                  <%= image_tag "front/about_us/concepcionde.jpg", alt: "Servicio educativo" %>
                </div>
                <div class="col-md-6 text-left text-tab">
                  <h3>
                    <%= raw t("about_us.conception_of_education") %>
                  </h3>
                  <p class="text-justify"><%= raw t("about_us.conception_of_education_content") %></p>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <!--end of button tabs-->
      </div>
    </div>

    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<div class="container">
  <div class="row mb40">
    <div class="col-md-12 text-center title-section" id="ouridentity">
      <h2><%= t("about_us.our_entity") %></h2>
      <hr>
    </div>
  </div>

</div>
<section class="image-square left" id="philosophy">


  <div class="col-md-6 image no-padding">
    <div class="background-image-holder">
      <%= image_tag "front/about_us/nuestra-historia.jpg", class: "background-image", alt: "Nuestra historia" %>

    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content our-history-ctn text-justify">
    <div class="title-section subtitle mb8">
      <h2><%= raw t("about_us.our_history") %></h2>
      <hr>
    </div>
    <h3><%= t("about_us.our_essence") %></h3>
    <p class="mb0">
      <%= t('about_us.history_content').html_safe %>
    </p>
  </div>
</section>

<section id="characteristics">
  <div class="container">
    <div class="row mb40">
      <div class="col-md-12 text-center title-section">
        <h2><%= raw t("about_us.characteristics") %></h2>
      </div>
    </div>
    <div class="row list-characteristics">
      <div class="col-md-4 d-flex"> <p><%= raw t("about_us.characteristics_1") %></p></div>
      <div class="col-md-4 d-flex"> <p><%= raw t("about_us.characteristics_2") %></p></div>
      <div class="col-md-4 d-flex"> <p><%= raw t("about_us.characteristics_3") %></p></div>
      <div class="col-md-4 d-flex"> <p><%= raw t("about_us.characteristics_4") %></p></div>
      <div class="col-md-4 d-flex"> <p><%= raw t("about_us.characteristics_5") %></p></div>
      <div class="col-md-4 d-flex"> <p><%= raw t("about_us.characteristics_6") %></p></div>

    </div>
  </div>
</section>

<section id="symbols">
  <div class="container">
    <div class="row mb40">
      <div class="col-md-12 text-center title-section">
        <h2><%= raw t("about_us.our_symbols") %></h2>
      </div>
    </div>
    
    <div class="row">
      <a href="https://youtu.be/HOVA2ppPk9k" class="youtube-popup">
        <div class="col-md-4 text-center">
          <%= image_tag "front/about_us/himno.jpg", alt: "himno" %>
          <div class="content">
            <h3><%= t("about_us.anthem") %></h3>
            <div class="play_button"><%=  image_tag "front/about_us/play-icon.png" %></div>
            <p><%= raw t("about_us.anthem_content") %></p>
          </div>
        </div>
      </a>
      <div class="col-md-4 text-center">
        <%= image_tag "front/about_us/emblema.jpg", alt: "Emblema" %>
        <div class="content">
          <h3><%= t("about_us.emblem") %></h3>

        </div>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag "front/about_us/uniforme.jpg", alt: "Uniforme" %>
        <div class="content">
          <h3><%= t("about_us.uniform") %></h3>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="our_place">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-center title-section">
        <h2><%= raw t("about_us.our_place") %></h2>
      </div>
    </div>

  </div>
</section>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    });
</script>
<section class="no-padding mb40">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="lightbox-grid square-thumbs" data-gallery-title="front/gallery">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <ul>
                <li>
                  <a href="<%= image_url "front/gallery/1.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/1.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/3.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/3.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/6.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/6.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/5.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/5.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/7.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/7.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/20.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/20.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/21.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/21.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/22.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/22.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="item">
              <ul>
                
                
                <li>
                  <a href="<%= image_url "front/gallery/23.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/23.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/26.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/26.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/25.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/25.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/27.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/27.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/28.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/28.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/29.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/29.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/32.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/32.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/33.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/33.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="item">
              <ul>
                
                
                <li>
                  <a href="<%= image_url "front/gallery/34.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/34.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/36.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/36.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/35.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/35.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/37.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/37.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
                <li>
                  <a href="<%= image_url "front/gallery/38.jpg" %>" data-lightbox="true">
                    <div class="background-image-holder">
                      <%= image_tag "front/gallery/38.jpg", class: "background-image", alt: "image gallery" %>

                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <!--end of lightbox gallery-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<section id="manual">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-2 card-beige">
        <div class="title-section">
          <h2><%= raw t("about_us.manual") %></h2>
          <hr>
        </div>
        <div class="content">
          <% unless user_signed_in? %>
            <p><%= t("about_us.manual_contend") %></p>
          <% end %>
          <a class="btn btn-white btn-lg <%= 'margintop-2rem' if user_signed_in? %>" href="<%= coexistence_manual_path %>">
            <% if user_signed_in? %>
              <%= t("about_us.seeManual") %>
            <% else %>
              <%= t("general.sign_in") %>              
            <% end %>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial:  "footer" %>