<%= render partial: "navbar" %>
<% content_for :title,  "#{t 'SEO.contact.title'}" %>
<% content_for :description, "#{t "SEO.contact.description"}" %>
<div class="main-container">

  <section class="page-title page-title-1 image-bg overlay">
    <div class="background-image-holder">
      <%= image_tag "front/contact_us/banner-prin.jpg", class: "background-image", alt: "background image Contáctanos" %>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="uppercase mb0 title-didot"><%= t("contact_us.title") %></h1>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
    <!--<ol class="breadcrumb breadcrumb-2">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Elements</a>
      </li>
      <li class="active">Page Titles</li>
    </ol>-->
  </section>
  <section class="image-edge no-padding">
    <div class="col-md-6 col-sm-4 p0 no ctn-img-contact">
      <%= image_tag "front/contact_us/contacto.jpg" , class: "mb-xs-24", alt: "Contacto"%>
    </div>
    <div class="container">
      <div class="col-md-5 col-xs-12 col-md-offset-1 col-sm-7 col-sm-offset-1 right">
        <div class="row">
          <div class="col-md-12 text-center title-section mt88 no-padding">
            <h2><%= raw t("contact_us.more_info") %></h2>
            <div class="text-center list-info col-sm-10 col-md-offset-1 no-padding">
              <div class="item-list-info">
                <%= image_tag "front/contact_us/direccion.jpg", alt: 'Direccion Instituto Musical Diego Echavarría', class: "img-responsive" %>
                <p><%= raw t("contact_us.address") %></p>
              </div>
              <div class="item-list-info">
                <%= image_tag "front/contact_us/celular.jpg", alt: 'Celular Instituto Musical Diego Echavarría', class: "img-responsive"  %>
                <p><%= raw t("contact_us.cell_phone") %></p>
              </div>
              <div class="item-list-info">
                <%= image_tag "front/contact_us/direccion.jpg", alt: 'Telefono Instituto Musical Diego Echavarría', class: "img-responsive"  %>
                <p><%= raw t("contact_us.phone") %></p>
              </div>
              <div class="item-list-info">
                <%= image_tag "front/contact_us/correo.jpg",alt: 'Email Instituto Musical Diego Echavarría', class: "img-responsive"  %>
                <p><%= raw t("contact_us.email") %></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--end of container-->
  </section>
  <section class="image-edge no-padding" id="contact-form">
    <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8 map-container">
      <%= image_tag "front/contact_us/mapa.jpg" , class: "mb-xs-24 back-img", alt: "Contacto"%>
      <div class="google-absolute-icon">
        <%= image_tag "front/contact_us/googlemaps.png" , class: "mb-xs-24", alt: "Contacto"%>
        <div class="text-center button">
          <a href="https://www.google.es/maps/place/Instituto+Musical+Diego+Echavarr%C3%ADa/@6.201941,-75.5468656,17z/data=!3m1!4b1!4m5!3m4!1s0x8e4682a6ae22c733:0xc3a5495efb36c9ef!8m2!3d6.201941!4d-75.5446769" target="blank" class="hidden-xs"><%= t("contact_us.go_to_google_maps") %></a>
          <a href="https://www.waze.com/ul?ll=6.20222941%2C-75.54459929&navigate=yes&zoom=17" target="blank" class="visible-xs"><%= t("contact_us.go_with_waze") %></a>
        </div>
      </div>

    </div>
    <div class="container form-container">
      <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 mt32 mt-xs-8">
        <div class="row">
          <div class="col-md-12 text-center title-section mt32">
            <h2><%= raw t("contact_us.write_us") %></h2>
            <p><%= raw t("contact_us.write_us_subtitle") %></p>
            <div class="text-left">
          <%= form_for @contact, url: contact_us_path, id: 'contact-form', method: 'post', class: 'text-left'  do |f| %>
            <div class="form-group">
              <label for="name"><%= t("contact_us.form.name") %></label>
              <%= f.text_field :name, placeholder: t("contact_us.form.name_placeholder"), class: 'form-control', required: true %>
            </div>
            <div class="form-group">
              <label for="name"><%= t("contact_us.form.email") %></label>
              <%= f.text_field :email, placeholder: t("contact_us.form.email_placeholder"), type: 'email', class: 'form-control', required: true %>
            </div>
            <div class="form-group">
              <label for="name"><%= t("contact_us.form.cellphone") %></label>
              <%= f.text_field :phone, placeholder: t("contact_us.form.cellphone_placeholder"), class: 'form-control', required: true %>
            </div>
            <div class="form-group">
              <label for="name"><%= t("contact_us.form.message") %></label>
              <%= f.text_area :comment, placeholder: t("contact_us.form.message_placeholder"), class: 'form-control', required: true %>
            </div>
            <div class="actions">
              <div class="checkbox">
                <label><input type="checkbox" value="" required><%= raw t("contact_us.form.terms_and_conditions") %></label>
              </div>
              <%= f.submit 'Enviar', class: 'btn btn-send', type: 'submit' %>
            </div>
          <% end %>
        </div>
        </div>
        </div>

      </div>
    </div>
    <!--end of container-->
  </section>
</div>
<%= render partial:  "footer" %>