<%= render partial: 'application/navbar' %>
<section id="our-graduates" class="circulars">
  <div class="title-container">
    <div class="row">
      <div class="col">
        <div class="title-section text-center">
          <h2><%= t("faq.title") %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container pb96 pt96 pb-xs-32">

    <div class="container">
      <div class="row content">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div id="accordion" class="panel-group accordion-bootstrap">
            <div class="panel">
              <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseOne">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <span class="opened">-</span>
                    <span class="closed">+</span>
                    <%= t("faq.faq1") %>
                  </h4>
                </div>
              </a>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <p><%= t("faq.responsefaq1") %></p>
                </div>
              </div>
            </div>
            <div class="panel">
              <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <span class="opened">-</span>
                    <span class="closed">+</span>
                    <%= t("faq.faq2") %>
                  </h4>
                </div>
              </a>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <p><%= t("faq.responsefaq2") %></p>
                </div>
              </div>
            </div>
            <div class="panel">
              <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <span class="opened">-</span>
                    <span class="closed">+</span>
                    <%= t("faq.faq3") %>
                  </h4>
                </div>
              </a>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <p><%= t("faq.responsefaq3") %></p>
                </div>
              </div>
            </div>
            <div class="panel">
              <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse4">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <span class="opened">-</span>
                    <span class="closed">+</span>
                    <%= t("faq.faq4") %>
                  </h4>
                </div>
              </a>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p><%= t("faq.responsefaq4") %></p>
                </div>
              </div>
            </div>
            <div class="panel">
              <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse5">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <span class="opened">-</span>
                    <span class="closed">+</span>
                    <%= t("faq.faq5") %>
                  </h4>
                </div>
              </a>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  <p><%= t("faq.responsefaq5").html_safe %></p>
                </div>
              </div>
            </div>
            <div class="panel">
              <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse6">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <span class="opened">-</span>
                    <span class="closed">+</span>
                    <%= t("faq.faq6") %>
                  </h4>
                </div>
              </a>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  <p><%= t("faq.responsefaq6").html_safe %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
          <h2 class="white-section contactus">
            <%= raw t("faq.have_questions") %> <%= link_to contact_path do %><span><%=t('circulars.contactus')%></span><% end %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render partial: 'application/footer' %>