<%= render partial: "navbar" %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "parallax.js" %>
<% end %>
<div class="main-container">
	<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
		<ul class="slides">
			<li class="overlay image-bg bg-light">
				<div class="background-image-holder">
					<%= image_tag "front/banner-home.jpg" , alt: "banner Home", class: "background-image" %>

				</div>
				<div class="container v-align-transform">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 text-center">
							<p class="lead mb16">

							<%= t("home.welcome") %>
							</p>
							<h1 class="mb40 mb-xs-16 large title-didot"> <%= raw t("home.welcome2") %></h1>

						</div>
					</div>
					<div class="scroll-btn-wrapper">
						<a href="#proyecto" class="scroll-down scrollTo"><img class="scroll-down-img" src="<%= image_url "front/home/scroll-down.png" %>" alt=""></a>
            <div id="mp3_player">
              <div id="audio_box"></div>
              <canvas id="analyser_render" class="analyser_render"></canvas>
              <canvas id="analyser_render_2" class="analyser_render analyser-down"></canvas>
              <button type="button" class="control-player play" onclick="playStopAudio()">
                <%= image_tag  "front/home/play-icono.png" %>
              </button>
              <button type="button" class="control-player stop" onclick="playStopAudio()" style="display: none;">
                <%= image_tag  "front/home/pause-icono.png" %>
              </button>
              <button type="button" onclick="previousSong()" class="nav-audio-control previous">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </button>
              <button type="button" onclick="nextSong()" class="nav-audio-control next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
              <div class="audio-info">
                <%= t('player.music') %> <span class="state">Off</span> - <span class="audio-name">Serenata n 13</span>
              </div>
            </div>
					</div>
				</div>
			</li>

		</ul>
	</section>

	<section class="image-edge txtimg-inst-1">
		<div class="text-center mb56">
		<h2 class="title-didot"><%= t("home.humanist") %></h2>
		</div>
		<div class="col-lg-3 col-md-4 p0 col-lg-push-6 col-md-push-8 ctn-images">
			<%= image_tag "front/home/sobrenosotros1.jpg", alt: "Persona tocando la flauta", class: "img-section mb-xs-24 mb40 img-moved1"  %>
			<%= image_tag "front/home/sobrenosotros2.jpg", alt: "Directora", class: "mb-xs-24 img-section img-moved2" %>
		</div>


		<div class="container">
			<div class="col-lg-1 col-lg-pull-0 rotate-title">
				<h2 class=""><%= raw t("home.about_us") %></h2>
				<hr>
			</div>
			<div class="col-lg-6 col-lg-offset-1 col-lg-pull-0 col-md-6 col-md-pull-4 v-align-transform know_us">
				<h2 class="mb40 mb-xs-16 title-section"> <%= raw t("home.know_us") %></h2>

				<p class="mb40">
					<%= raw t("home.know_us_content") %>
				</p>
				<%= link_to about_us_path, class: "btn-lg btn beige" do %>
					<%= raw t("home.keep_us") %>
				<% end %>
			</div>


		</div>
		<!--end of container-->
	</section>
	<section id="tabs-about-us">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 text-center">
					<h4 class="uppercase mb80"><%= t("home.know_the_best_of_us") %></h4>
					<div class="tabbed-content button-tabs">
						<ul class="tabs">
							<li class="active" id="firstClickedTab">
								<div class="tab-title tab-left">
									<span>Video institucional</span>
								</div>
								<div class="tab-content info youtube-ctn">
									<iframe width="728" height="409" src="https://www.youtube.com/embed/ajn0Rc7Rjy0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
							<li>
								<div class="tab-title">
									<span><%= t("home.our_history") %></span>
								</div>
								<div class="tab-content info">
									<p>
										<%= t("home.know_our_perception") %>
									</p>
										<div class="col-md-6">
											<%= image_tag "front/home/nuestra-historia.jpg", alt: "nuestra historia" %>
										</div>
										<div class="col-md-6 text-left text-tab">
											<h3>
												<%= raw t("home.our_history") %>
											</h3>
											<p><%= raw t("home.educative_service_content") %></p>
										</div>

								</div>
							</li>
							<li id="clickedTab">
								<div class="tab-title">
									<span id="facilitiesHome"><%= t("home.our_places") %></span>
								</div>
								<div class="tab-content">
									<p>
										<%= t("home.our_places_content") %>
									</p>
									<div class="row">
										<div class="col-sm-10 col-sm-offset-1">
											<div class="image-slider slider-thumb-controls controls-inside">
												<ul class="slides">
													<li>
														<%= image_tag "front/home/gallery/1.jpg", alt: "gallery image" %>

													</li>
													<li>
														<%= image_tag "front/home/gallery/3.jpg", alt: "gallery image" %>

													</li>
													<li>
														<%= image_tag "front/home/gallery/5.jpg", alt: "gallery image" %>

													</li>
                          <li>
														<%= image_tag "front/home/gallery/dron1.jpg", alt: "gallery image" %>

													</li>
                          <li>
														<%= image_tag "front/home/gallery/dron2.jpg", alt: "gallery image" %>

													</li>
                          <li>
														<%= image_tag "front/home/gallery/dron3.jpg", alt: "gallery image" %>

													</li>
                          <li>
														<%= image_tag "front/home/gallery/dron4.jpg", alt: "gallery image" %>

													</li>
                          <li>
														<%= image_tag "front/home/gallery/dron5.jpg", alt: "gallery image" %>

													</li>
												</ul>
											</div>
											<!--end of image slider-->
										</div>

									</div>
								</div>
							</li>
							<li>
								<div class="tab-title tab-right">
									<span><%= raw t("home.our_educative_service") %></span>
								</div>
								<div class="tab-content info">
									<p>
										<%= t("home.know_our_perception") %>
									</p>
									<div class="col-md-6">
										<%= image_tag "front/home/servicio.jpg", alt: "Servicio educativo" %>
									</div>
									<div class="col-md-6 text-left text-tab">
											<h3>
											 <%= raw t("home.educative_service") %>
											</h3>
										<p><%= raw t("home.educative_service_content") %></p>
									</div>
								</div>
							</li>

						</ul>
					</div>
					<!--end of button tabs-->
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-12 mt48">
				<%= link_to about_us_path, class: "btn-lg btn" do %>
					<%= raw t("home.know_more") %>
				<% end %>
			</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>

	<section id="graduates">


		<div class="container ">

			<div class="row">
				<div class="col-md-5 col-md-offset-1">

					<div class="title-section">
						<h2><%= t("home.graduates") %></h2>
						<hr>
					</div>
					<div class="content">
						<p><%= t("home.graduates_content") %></p>
					</div>
					<%= link_to graduated_path, class: "btn-lg btn beige" do %>												
						<p><%= t("home.graduates_cta") %></p>
					<% end %>
				</div>
			</div>
		</div>
	</section>
	<section id="comunications">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center title-section">
						<h2><%= t("home.comunications") %></h2>
						<hr>
					<h3>
						<%= t("home.comunications_subtitle") %>
					</h3>
				</div>
			</div>
			<div class="row mb80">
				<% if @news.length > 0 %>
					<% @news.each do |post| %>
						<div class="col-md-4">
							<div class="card-events">
								<div>
								<img src=<%= post.image %> alt="" class="news-image">
								</div>
								<div class="title-comunication">
									<% if I18n.locale == :es %>
										<h2><%= post.title %></h2>
										<% else %>
										<h2><%= post.title_en %></h2>
									<% end %>
									<span><%= l post.created_at, format: :circulars %></span>
								</div>
						
								<div class="content">
									<% if I18n.locale == :es %>
									<p><%= strip_tags post.content.truncate(300) %></p>
									<% else %>
										<p><%= strip_tags post.content_en.truncate(300) %></p>
									<% end %>
						
									<%= link_to news_show_path(post.id) do%>
										<%= t("home.keep_reading") %>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
				<% else %>
					<div class="row ctn-news">
						<div class="col-xs-10 col-xs-offset-1">
							<h4>
								No se encontraron noticias
							</h4>
						</div>
					</div>
				<% end %>



			</div>
			<div class="row text-center">
				<div class="col-md-12">
					<a class="btn-lg btn" href="<%= news_path %>"><%= raw t("home.know_all_notices") %></a>
				</div>
			</div>
		</div>

	</section>

	<section id="payments">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center title-section">
					<h4 class="uppercase mb40"><%= t("home.payment_title") %></h4>

				</div>
			</div>
			<!--end of row-->
			<div class="row">

				<div class="col-md-4 col-sm-6 col-md-offset-2">
					<div class="pricing-table pt-1 text-center boxed">
						<p class="lead"><%= raw t("home.payments_online") %></p>
						<h5 class=""><%= t("home.payments_call_to_action") %></h5>
						<a class="btn btn-filled btn-lg" href="http://201.232.23.79/BeamWeb/Account/Login" target="blank"><%= t("home.payment") %></a>
					</div>
					<!--end of pricing table-->
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="pricing-table pt-1 text-center emphasis">


						<p class="lead"><%= raw t("home.donations_institute") %></p>
						<h5 class=""><%= t("home.donations_content") %></h5>
						<a class="btn btn-white btn-lg" href="<%= payments_path %>"><%= t("home.donations_call_to_action") %></a>
					</div>
					<!--end of pricing table-->
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>

	<section id="join_us">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-md-offset-2 card-beige">
					<div class="title-section">
						<h2><%= t("home.join_us") %></h2>
						<hr>
					</div>
					<div class="content">
						<p><%= t("home.join_us_know_profile") %></p>
						<a class="btn btn-white btn-lg" href="<%= inscriptions_path %>"><%= t("home.join_us_how_to") %></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%= render partial:  "footer" %>
</div>