<%= render partial: "navbar" %>
<% content_for :title,  "#{t 'SEO.payments.title'}" %>
<% content_for :description, "#{t "SEO.payments.description"}" %>
<section class="page-title page-title-1 image-bg overlay">
  <div class="background-image-holder">
    <%= image_tag "front/payments/banner-prin.jpg", class: "background-image", alt: "background image Sobre Nosotros" %>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="uppercase mb0 title-didot"><%= t("payments.title") %></h1>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <!--<ol class="breadcrumb breadcrumb-2">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Elements</a>
    </li>
    <li class="active">Page Titles</li>
  </ol>-->
</section>

<section id="payment">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-center title-section">
        <h2><%= raw t("payments.payment") %></h2>

      </div>
      <div class="text-center description">
        <p><%= raw t("payments.payment_content") %></p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-md-offset-4 text-center card">
        
        <div class="col-md-12 mt48">
          <a class="btn-lg btn" href="http://200.116.190.45/BeamWeb/Account/Login" target="blank"><%= t("payments.go_payment") %></a>
        </div>
        <%= image_tag "front/payments/pagos.jpg", alt: "Emblema" %>
        <div class="row text-center">

        </div>
      </div>

    </div>

  </div>
</section>

<section id="why-donate">
  <div class="container">
    <div class="row mb40">
      <div class="col-md-12 text-center title-section">
        <h2><%= raw t("payments.donation.donations") %></h2>
        <h3><%= raw t("payments.donation.why_donate") %></h3>
      </div>
    </div>
    <div class="row list-characteristics">
      <div class="col-md-4 d-flex"> <p><%= raw t("payments.donation.why_donate_1") %></p></div>
      <div class="col-md-4 d-flex"> <p><%= raw t("payments.donation.why_donate_2") %></p></div>
      <div class="col-md-4 d-flex"> <p><%= raw t("payments.donation.why_donate_3") %></p></div>
      <div class="col-md-4 d-flex"> <p><%= raw t("payments.donation.why_donate_4") %></p></div>
    </div>
  </div>
</section>
<section id="donate">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-center title-section">
        <h2><%= raw t("payments.donations_methods") %></h2>

      </div>
      <div class="text-center description">
        <p><%= raw t("payments.alternative_method") %></p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-md-offset-2 text-center card hidden">
        <p><%= t("payments.donate_pse") %></p>
        <%= image_tag "front/payments/pse.jpg", alt: "PSE LOGO" %>
        <div class="row text-center">
          <div class="col-md-12 mt48">
            <a class="btn-lg btn" href="#"><%= t("payments.go_to_donate") %></a>
          </div>

        </div>
      </div>
      <div class="col-md-12 text-center card">
        <p><%= t("payments.donate_payu") %></p>
        <%= image_tag "front/payments/payu.jpg", alt: "PAYU LOGO" %>
        <div class="row text-center">
          <div class="col-md-12 mt48 d-flex justify-content-center">
            <div class="dropdown dropdown-payu">
              <button class="btn btn-default dropdown-toggle btn-lg btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= t("payments.go_to_donate") %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="<%= t("payments.links.link1") %>" target="_blank"><%= t("payments.values.value1") %></a></li>
                <li><a href="<%= t("payments.links.link2") %>" target="_blank"><%= t("payments.values.value2") %></a></li>
                <li><a href="<%= t("payments.links.link3") %>" target="_blank"><%= t("payments.values.value3") %></a></li>
                <li><a href="<%= t("payments.links.link4") %>" target="_blank"><%= t("payments.values.value4") %></a></li>
                <li><a href="<%= t("payments.links.link5") %>" target="_blank"><%= t("payments.values.value5") %></a></li>
                <li><a href="<%= t("payments.links.link6") %>" target="_blank"><%= t("payments.values.value6") %></a></li>
                
              </ul>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="row pt32">
      <div class="text-center description">
        <p><%= raw t("payments.certification") %></p>
      </div>
    </div>

  </div>
</section>

<section class="have-questions">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-center title-section">
        <h2><%= raw t("payments.contact_us") %></h2>

      </div>
    </div>
  </div>
</section>

<%= render partial:  "footer" %>