<%= render partial: 'application/navbar' %>

<section class="page-title page-title-1 image-bg overlay">
  <div class="background-image-holder">
    <%= image_tag "front/school_parents/banner.jpg", class: "background-image", alt: "background image Sobre Nosotros" %>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase mb0 title-didot"><%= t("school_parents.title") %></h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <!--<ol class="breadcrumb breadcrumb-2">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Elements</a>
    </li>
    <li class="active">Page Titles</li>
  </ol>-->
</section>

<section id="our-graduates">

  <div class="container pb96 pt96 pb-xs-32">
    <div class="row">
      <div class="col">
        <div class="title-section subtitle-section text-center">
          <h2><%= raw t("school_parents.learn_with_our_videos") %></h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row content">
        <p>
          <%= t("school_parents.subtitle") %>
          </p>
      </div>
    </div>
    <div class="row mt64 mb64 mb-xs-0">
      <% @lessons.each do |lesson| %>
      <div class="col-sm-6">
        <div class="mb32 container-video-tb">
          <%= image_tag lesson.thumbnail.url, class: "img-fluid img-responsive" %>
          <div class="info text-center">
            <%= image_tag "front/about_us/play-icon.png" %>
          </div>
          <div class="overlay">
            <a href="<%= parent_lesson_video(lesson) %>" class="youtube-popup">
              <div class="info text-center">
                <%= image_tag "front/about_us/play-icon.png" %>
              </div>
              <div class="name">
                <%= parent_lesson_name(lesson) %>
              </div>
            <a href="<%= parent_lesson_video(lesson) %>" class="youtube-popup">
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
<%= render partial: 'application/footer' %>