<%= render partial: "navbar" %>
<div class="main-container" id="thankyou_contact">
  <section>
    <div class="container">
      <div class="col-md-8 text-center col-md-offset-2">
        <h2>
          <%= raw t("contact_us.form.thank_you.thank_you_message") %>
        </h2>
        <p> <%= raw t("contact_us.form.thank_you.thank_you_message2") %></p>
        <div class="mt48">
        <a href="/"> <%= t("contact_us.form.thank_you.call_to_action") %></a>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render partial:  "footer" %>