<!DOCTYPE html>
<html>
  <head>
    <title>Instituto Musical Diego Echavarria | Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#222944">

    <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "favicon.png" %>
    <!-- ckeditr -->
    <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
  </head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%= render partial: "navbar_admin" %>
    <!-- partial -->
    <%= render partial: "sidebar_admin" %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <%= yield %>
        </div>
        <footer class="footer">
          <div class="container-fluid clearfix">
          </div>
        </footer>
      </div>
      </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
    CKEDITOR.replace( 'editor' );
  </script>
</body>

</html>