<!DOCTYPE html>
<html>
  <head>
    <title>
      Instituto Musical Diego Echavarría
      <%= if content_for?(:title) then ' | ' + yield(:title) end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NM7W99S');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222944">
    <meta name="description" content="<%= if content_for?(:description) then yield(:description) else 'Proceso permanente de construcción en la vida del hombre como proyecto por medio del cual se transmite, se recrea, se conserva y transforma la cultura. La escuela es un espacio vital formalizador que debe traducir (seleccionar cultura) articular sentidos (contextos) y proyectar (nuevas formas de vida)' end %>">
    <meta name="keywords" content="Instituto musical, musica, colegio, educacion">
    <%= stylesheet_link_tag    'front/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag "favicon.png" %>
    <%= javascript_include_tag 'front/application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_includes %>

  </head>

  <body class="scroll-assist">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM7W99S"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script type="text/javascript">
      jQuery(function(){
        jQuery(".youtube-popup").YouTubePopUp();
      });
    </script>
    <%= yield %>
    <%= render partial: "terms" %>
    <%= render partial: "data_policy" %>
  </body>
</html>
