<% @circulars.each_with_index do |circular, index| %>
    <div class="panel">
        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href='<%= "#collapse#{index}" %>'>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="opened">-</span>
                    <span class="closed">+</span>
                    Circular: <%= l circular.date, format: :circulars %>, 
                    <% if I18n.locale == :es %>
                        <%= circular.title %>
                    <% else %>
                        <%= circular.title_en %>
                    <% end %>
                </h4>
            </div>
        </a>    
        <div id='<%= "collapse#{index}" %>' class="panel-collapse collapse">
            <div class="panel-body">
                <% if I18n.locale == :es %>
                    <p><%= circular.content %></p>
                <% else %>
                    <p><%= circular.content_en %></p>
                <% end %>
            </div>
        </div>
    </div>
<% end %>