<%= form_for @circular, url: url, id: 'circular-form', method: method  do |f| %>
    <div class="form-group">
        <label for="exampleInputEmail1">Fecha de la circular</label>
        <%= f.date_field :date, placeholder: 'Fecha de la circular', type: 'date', class: 'form-control', required: true %>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Titulo de la circular (Español)</label>
        <%= f.text_field :title, placeholder: 'Titulo de la circular', class: 'form-control', required: true %>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Titulo de la circular (Ingles)</label>
        <%= f.text_field :title_en, placeholder: 'Titulo de la circular', class: 'form-control', required: true %>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Contenido de la circular (Español)</label>
        <%= f.text_area :content, placeholder: 'Contenido de la circular', rows: 5, class: 'form-control h-100' %>
    </div>
    
    <div class="form-group">
        <label for="exampleInputPassword1">Contenido de la circular (Ingles)</label>
        <%= f.text_area :content_en, placeholder: 'Contenido de la circular', rows: 5, class: 'form-control h-100' %>
    </div>
    <%= f.submit 'Crear', class: 'btn btn-success mr-2', type: 'submit' %>
    <%= submit_tag("Limpiar", { :name => 'reset', :id => 'reset_button', :type => "reset", :class => 'btn btn-light' }) %>
<% end %>