<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <%= yield %>
            </div>
        </div>
    </div>
</div>