<%= render :layout => 'layout_form' do %>
    <h4 class="card-title">Editar circular</h4>
    <%= render "form_circulars", circular: @circular, url: circulars_update_path, method: 'patch' %>
<% end %>