<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body text-center">
                <%= link_to create_circular_path do %>
                <button class="btn btn-info">
                    Crear circular
                </button>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de circulares</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Titulo (ES)</th>
                                <th>Titulo (EN)</th>
                                <th>Contenido (ES)</th>
                                <th>Contenido (EN)</th>
                                <th>Creada</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if @circulars.length > 0 %>
                                <% @circulars.each_with_index do |circular, index| %>
                                <tr>
                                    <td><%= indexplus = index + 1 %></td>
                                    <td><%= circular.date.strftime("%A %B/%d/%Y") %></td>
                                    <td><%= circular.title %></td>
                                    <td><%= circular.title_en %></td>
                                    <td><%= circular.content %></td>
                                    <td><%= circular.content_en %></td>
                                    <td><%= circular.created_at.strftime("%F") %></td>
                                    <td class="text-center">
                                        <%= link_to edit_circular_path(circular) do%>
                                        <%= fa_icon "edit" %>
                                        <% end %>
                                    </td>
                                </tr>
                                <% end %>
                            <% else %>
                            <tr>
                                <td colspan="8" class="text-center text-info">
                                    <h3 class="mt-4">
                                        No hay circulares creadas en este momento
                                    </h3>
                                    <%= link_to create_circular_path do%>
                                    <button class="btn btn-success">
                                        Crear
                                    </button>
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
    
            </div>
        </div>
    </div>
</div>

