<%= render partial: 'application/navbar' %>
<section id="our-graduates" class="circulars">
    <div class="title-container">
        <div class="row">
            <div class="col">
                <div class="title-section text-center">
                    <h2><%= t("circulars.title") %></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb96 pt96 pb-xs-32">
        <div class="row">
            <div class="col">
                <div class="title-section subtitle-section text-center">
                    <h2 class="white-section"><%= t("circulars.dontMiss") %></h2>
                    <h6 class="subtitle-sm"><%= t("circulars.text") %></h6>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row content">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div id="accordion" class="panel-group accordion-bootstrap">
                        <%= render "circular_card", circulars: @circulars %>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <h2 class="white-section contactus">
                        <%= t("circulars.uHaveQ") %> <%= link_to contact_path do %><span><%=t('circulars.contactus')%></span><% end %>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<%= render partial: 'application/footer' %>