<%= render :layout => 'layout_form' do %>
    <h4 class="card-title">Crear circular</h4>  
    <%= render "form_circulars", circular: @circular, url: circulars_create_path, method: 'post' %>
<% end %>